.eg-bookends {
  &.m-1 {
    @include scut-bookends($content: "\2014");
  }
  &.m-2 {
    padding: 0.5em 1em;
    font-size: 2em;
    @include scut-bookends(0.25em, "\00ab" "\00bb") {
      color: red;
    }
    &:hover {
      background: blue;
      color: red;
      @include scut-bookends(false) {
        color: white;
      }
    }
  }
  &.m-3 {
    border: 2px solid;
    background: white;
    text-align: center;
    @include scut-bookends($content: "") {
      height: 2em;
      width: 2em;
      background: red;
      vertical-align: middle;
    }
  }
}