/* hidden rules */
.eg-foursquare {
  margin-right: 1em;
}
/* end hidden rules */

.eg-foursquare {
  &.m-1 {
    // Default-values placeholder
    @extend %scut-foursquare;
  }
  &.m-2 {
    @extend %scut-foursquare;
    transform: rotate(45deg);
  }
  &.m-3 {
    @include scut-foursquare(1em, $eg-light, 0.2em, $eg-dark);
    transform: rotate(45deg);
  }
  &.m-4 {
    @include scut-foursquare(20px, transparent, 4px, $eg-dark);
  }
}