.eg-link-bb {
  &.m-1 a {
    // Default-values placeholder
    @extend %scut-link-bb;
  }
  &.m-2 a {
    color: $eg-muted;
    @include scut-link-bb(inherit, double, 4px);
    &:hover {
      color: $eg-dark;
      border-bottom-color: $eg-light;
    }
  }
}