/* hidden rules */
.eg-list-breadcrumb,
.eg-list-divided {
  margin-top: 1em;
}
/* end hidden rules */

.eg-list-bar {
  @include scut-list-divided;
  // or @extend %scut-list-bar;
}
.eg-list-breadcrumb {
  @include scut-list-divided("/");
  // or @extend %scut-list-breadcrumb;
}

.eg-list-divided {
  &.m-1 {
    @include scut-list-divided("...", 0, right, $no-margin: false);
  }
  &.m-2 {
    @include scut-list-divided("", 0.5em, left, 3em) {
      background-color: $eg-dark;
      width: 1em;
    }
  }
}