.eg-list-floated {
  li {
    border: 1px solid;
    padding: 0 5px;
  }
  &.m-1 {
    // Default-values placeholder
    @extend %scut-list-floated;
    margin-bottom: 1em;
  }
  &.m-2 {
    @include scut-list-floated(1em);
    margin-bottom: 1em;
  }
  &.m-3 {
    @include scut-list-floated(2em, right);
  }
}