/* hidden rules */
.eg-padding {
  @extend %eg-dark-btn;
  margin-right: 1em;
  margin-bottom: 1em;
}
/* end hidden rules */

.eg-padding {
  display: inline-block;
  &.m-1 {
    @include scut-padding(1em n);
  }
  &.m-2 {
    @include scut-padding(0.5em 3em);
  }
  &.m-3 {
    @include scut-padding(n 8em 3em n);
  }
}