/* hidden rules */
.eg-rem {
  border: 5px solid $eg-dark;
  padding: 10px;
  margin-top: 1em;
  &.m-1 {
    margin-top: 0;
  }
}
/* end hidden rules */

.eg-rem-c {
  font-size: 1000px;
}
.eg-rem {
  &.m-1 { font-size: 24px; }
  &.m-2 { font-size: scut-rem(24); }
  &.m-3 { font-size: scut-rem(24); }
  &.m-4 {
    margin: scut-rem(80 50px 0 100);
    padding: scut-rem(30 20px);
  }
}