/* hidden rules */
.eg-ratio {
  margin-top: 1em;
}
/* end hidden rules */

.eg-ratio {
  background: $eg-muted;
  &.m-1 {
    width: 15em;
    // Default-values placeholder
    @extend %scut-ratio-box;
  }
  &.m-2 {
    width: 7em;
    @include scut-ratio-box;
  }
  &.m-3 {
    width: 15em;
    @include scut-ratio-box(16/9, ".eg-ratio-inner");
  }
  &.m-4 {
    width: 7em;
    @include scut-ratio-box(16/9, ".eg-ratio-inner");
  }
}