/* hidden rules */
.eg-triangle-button {
  @extend %eg-light-btn;
}
/* end hidden rules */
.eg-triangle {
  margin-right: 1em;
  &.m-default {
    // Default-values placeholder
    @extend %scut-triangle;
  }
  &.m-equilateral {
    @include scut-triangle(up, 1em 1.4em, $eg-muted);
  }
  &.m-corner-1 {
    @include scut-triangle(top-right, 1em, $eg-dark);
  }
  &.m-corner-2 {
    @include scut-triangle(bottom-left, 2em 1em, $eg-light);
  }
}
.eg-triangle-button {
  &:after {
    margin-left: 0.3em;
  }
  &.m-down:after {
    @include scut-triangle(down, 0.7em 1em, $pseudo: true);
    margin-bottom: 0.15em;
  }
  &.m-up:after {
    @include scut-triangle(up, 0.7em 1em, $pseudo: true);
    margin-bottom: 0.2em;
  }
  &.m-more:after {
    @include scut-triangle($pseudo: true);
  }
}