/* hidden rules */
.eg-triangle {
  margin-right: 1em;
}
.eg-triangle-button {
  @extend %eg-light-btn;
}
/* end hidden rules */

.eg-triangle {
  &.m-default {
    // Default-values placeholder
    @extend %scut-triangle;
  }
  &.m-equilateral {
    @include scut-triangle(up, 100px 87px, $eg-muted);
  }
  &.m-top-right {
    @include scut-triangle(top-right, 2em, $eg-dark);
  }
  &.m-bottom-left {
    @include scut-triangle(bottom-left, 80px 40px, $eg-light);
  }
}
.eg-triangle-button {
  &:after {
    content: "";
    margin-left: 0.3em;
  }
  &.m-down:after {
    @include scut-triangle(down);
  }
  &.m-up:after {
    @include scut-triangle(up);
  }
  &.m-more:after {
    @extend %scut-triangle;
  }
}