/* hidden rules */
.eg-vcenter-td {
  border: 5px solid $eg-dark;
  padding: 0 1em;
  &:not(:first-child) {
    margin-top: 1em;
  }
}
/* end hidden rules */

.eg-vcenter-td {
  &.m-1 {
    // Default-values placeholder
    @extend %scut-vcenter-td;
    height: 8em;
  }
  &.m-2 {
    @include scut-vcenter-td(".eg-vcenter-td-inner");
    height: 12em;
  }
}