/* hidden rules */
.eg-vcenter-lh {
  @extend %eg-dark-btn;
  padding-top: 0;
  padding-bottom: 0;
}
/* end hidden rules */

.eg-vcenter-lh {
  vertical-align: middle;
  &.m-1 {
    @include scut-vcenter-lh(50px);
  }
  &.m-2 {
    @include scut-vcenter-lh(50px);
    font-size: 0.75em;
  }
}