.eg-vcenter-ib {
  border: 5px solid black;
  padding: 0 1em;
  height: 120px;
  &.m-1 {
    // Default-values placeholder
    @extend %scut-vcenter-ib;
  }
  &.m-2 {
    @include scut-vcenter-ib(".eg-vcenter-ib-inner");
    margin-top: 1em;
  }
}