* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

b {
  font-weight: normal;
}

label,
input,
textarea,
select,
option,
button {
  cursor: pointer;
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

/*==========================
HD BREAKPOINT
http://davidtheclark.github.io/scut/#hd_breakpoint
==========================*/

/*==========================
HIDE TEXT
http://davidtheclark.github.io/scut/#hide_text
==========================*/

/*==========================
SELECTED
http://davidtheclark.github.io/scut/#selected
==========================*/

/*==========================
CLEARFIX
http://davidtheclark.github.io/scut/#clearfix
==========================*/

/*==========================
POSITIONING: COORDINATES
http://davidtheclark.github.io/scut/#positioning_coordinates
==========================*/

/*==========================
POSITIONING: ABSOLUTE
http://davidtheclark.github.io/scut/#positioning_absolute

Depends on `positioning-coordinates`.
==========================*/

/*==========================
POSITIONING: RELATIVE
http://davidtheclark.github.io/scut/#positioning_relative

Depends on `positioning-coordinates`.
==========================*/

/*==========================
POSITIONING: FIXED
http://davidtheclark.github.io/scut/#positioning_fixed

Depends on `positioning-coordinates`.
==========================*/

/*==========================
FILL
http://davidtheclark.github.io/scut/#fill
==========================*/

/*==========================
LIST: UNSTYLED
http://davidtheclark.github.io/scut/#list_unstyled
==========================*/

.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*==========================
LIST: DIVIDED
http://davidtheclark.github.io/scut/#list_divided

Depends on `list-floated`, which depends in turn on `list-unstyled`.
==========================*/

/*==========================
LIST: FLOATED
http://davidtheclark.github.io/scut/#list_floated

Depends on `list-unstyled`.
==========================*/

/*==========================
LIST: INLINE
http://davidtheclark.github.io/scut/#list_inline

Depends on `list-unstyled`.
==========================*/

/*==========================
LIST: PUNCTUATED
http://davidtheclark.github.io/scut/#list_punctuated

Depends on `list-unstyled`.
==========================*/

/*==========================
RATIO-BOX
http://davidtheclark.github.io/scut/#ratio-box
==========================*/

/*==========================
SIZE
http://davidtheclark.github.io/scut/#size
==========================*/

/*==========================
V-CENTER: INLINE-BLOCK
http://davidtheclark.github.io/scut/#v-center_inline-block
==========================*/

/*==========================
V-CENTER: LINE-HEIGHT
http://davidtheclark.github.io/scut/#v-center_line-height
==========================*/

/*==========================
V-CENTER: TABLE DISPLAY
http://davidtheclark.github.io/scut/#v-center_table_display
==========================*/

/*==========================
CIRCLE
http://davidtheclark.github.io/scut/#circle
==========================*/

/*==========================
FOURSQUARE
http://davidtheclark.github.io/scut/#foursquare
==========================*/

/*==========================
TRIANGLE
http://davidtheclark.github.io/scut/#triangle
==========================*/

/*==========================
FONT-FACE
http://davidtheclark.github.io/scut/#font-face
==========================*/

/*==========================
HANGING INDENT

==========================*/

.hanging-indent.m-1 p {
  text-indent: -1em;
  padding-left: 1em;
}

.header-lined.m-1 {
  overflow: hidden;
  text-align: center;
}

.header-lined.m-1:before,
.header-lined.m-1:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}

.header-lined.m-1:before {
  right: 0.5em;
  margin-left: -50%;
}

.header-lined.m-1:after {
  left: 0.5em;
  margin-right: -50%;
}

/*==========================
INDENTED PARAGRAPHS
http://davidtheclark.github.io/scut/#indented_paragraphs
==========================*/

/*==========================
LINK: BOTTOM-BORDERED
http://davidtheclark.github.io/scut/#link_bottom-bordered
==========================*/

/*==========================
REVERSE ITALICS
http://davidtheclark.github.io/scut/#reverse-italics
==========================*/

body {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1em 0;
}

h1 {
  font-size: 3em;
  margin-top: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.wrapper {
  padding: 1em 2em;
}

.pages-i {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid;
  text-decoration: none;
  margin-right: 1em;
  margin-bottom: 1em;
}

.pages-i:hover {
  color: purple;
}

/*==========================

@import test stylesheets below.

Add yours to the bottom of the list.

They should all be located within the "tests" subdirectory, like this:
`test/scss/tests/_your-test-stylesheet.scss`.

==========================*/

.hanging-indent {
  margin: 1em 0;
}

.hanging-indent p {
  width: 10em;
}

.hanging-indent.m-2 p {
  text-indent: -2em;
  padding-left: 2em;
}

.header-lined {
  background: #eee;
  margin-bottom: 1em;
}

.header-lined.m-1 {
  font-size: 3em;
}

.header-lined.m-2 {
  overflow: hidden;
  text-align: center;
  font-size: 2em;
  width: 20em;
}

.header-lined.m-2:before,
.header-lined.m-2:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: double;
  border-top-width: 5px;
  border-top-color: blue;
  bottom: 2px;
}

.header-lined.m-2:before {
  right: 20px;
  margin-left: -50%;
}

.header-lined.m-2:after {
  left: 20px;
  margin-right: -50%;
}

.header-lined.m-3 {
  overflow: hidden;
  text-align: center;
  font-size: 2em;
  line-height: 2;
  width: 10em;
}

.header-lined.m-3:before,
.header-lined.m-3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: double;
  border-top-width: 4px;
  border-top-color: blue;
  bottom: 3px;
  height: 10px;
  border-bottom-style: double;
  border-bottom-width: 4px;
  border-bottom-color: blue;
}

.header-lined.m-3:before {
  right: 30px;
  margin-left: -50%;
}

.header-lined.m-3:after {
  left: 30px;
  margin-right: -50%;
}