* {
  box-sizing: border-box; }

html,
body {
  min-height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0; }

b {
  font-weight: normal; }

label,
input,
textarea,
select,
option,
button {
  cursor: pointer; }

button {
  background: transparent;
  border: 0;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
  -webkit-appearance: none; }

p:first-of-type {
  margin-top: 0; }

p:last-of-type {
  margin-bottom: 0; }

.list-bar:after, .list-breadcrumb:after, .list-float:after, .list-dash:after {
  content: "";
  display: table;
  clear: both; }

.vcenter-ib:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }
.vcenter-ib > .scut-inner {
  display: inline-block;
  vertical-align: middle; }

.triangle-default {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.375em 0.7em;
  border-style: solid;
  border-color: transparent;
  border-left-color: inherit;
  border-right-width: 0; }

.list-bar, .list-breadcrumb, .list-float, .list-dash, .list-inline, .list-comma, .list-unstyled, .list-semicolon {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.list-bar > li, .list-breadcrumb > li, .list-float > li, .list-dash > li {
  float: left; }

.list-inline > li {
  display: inline-block; }

.list-comma > li {
  display: inline; }
  .list-comma > li:not(:last-child):after {
    content: ", "; }

.list-bar > li:not(:last-child):after {
  content: "|";
  margin-left: 0.5em;
  margin-right: 0.5em; }

.list-breadcrumb > li:not(:last-child):after {
  content: "/";
  margin-left: 0.5em;
  margin-right: 0.5em; }

.scut-link-bd {
  border-bottom: 1px solid;
  text-decoration: none; }

.indented-ps p {
  margin: 0;
  text-indent: 1.5em; }
.indented-ps p:first-child {
  text-indent: 0; }

.reverse-italics {
  font-style: italic; }
  .reverse-italics em,
  .reverse-italics cite,
  .reverse-italics i {
    font-style: normal; }

.list-dash > li:not(:last-child):after {
  content: "-";
  margin-left: 0.5em;
  margin-right: 0.5em; }

.list-semicolon > li {
  display: inline; }
  .list-semicolon > li:not(:last-child):after {
    content: ";"; }

.ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative; }
  .ratio-box > .scut-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .ratio-box > .scut-inner {
    background: gray; }

.circle-1 {
  border-radius: 50%;
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  border-width: 0.5em;
  border-style: solid; }

.circle-2 {
  border-radius: 50%;
  display: inline-block;
  height: 3em;
  width: 3em;
  background-color: red;
  border: 5px solid orange; }

.foursquare-1 {
  background-color: black;
  display: inline-block;
  height: 11px;
  width: 11px;
  position: relative;
  transform: rotate(45deg); }
  .foursquare-1:before, .foursquare-1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: white;
    border-style: solid; }
  .foursquare-1:before {
    height: 5px;
    right: 0;
    border-width: 0 0 1px; }
  .foursquare-1:after {
    width: 5px;
    bottom: 0;
    border-width: 0 1px 0 0; }

.foursquare-2 {
  background-color: red;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  position: relative; }
  .foursquare-2:before, .foursquare-2:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: orange;
    border-style: solid; }
  .foursquare-2:before {
    height: 1em;
    right: 0;
    border-width: 0 0 0.5em; }
  .foursquare-2:after {
    width: 1em;
    bottom: 0;
    border-width: 0 0.5em 0 0; }

.triangle-default {
  margin-left: 1em; }

.triangle-up {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 20px 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: black;
  border-top-width: 0;
  margin: 5px; }

.triangle-down {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 20px 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: black;
  border-bottom-width: 0;
  margin: 5px; }

.triangle-right {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent;
  border-left-color: red;
  border-right-width: 0;
  margin: 5px; }

.triangle-left {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent;
  border-right-color: red;
  border-left-width: 0;
  margin: 5px; }

.triangle-sized {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 15px 40px;
  border-style: solid;
  border-color: transparent;
  border-left-color: blue;
  border-right-width: 0; }

.triangle-inline-up {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 10px 10px;
  border-style: solid;
  border-top-color: orange;
  border-bottom-color: transparent;
  border-left-color: orange;
  border-right-color: transparent;
  margin: 0 2px; }

.triangle-inline-down {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 10px 10px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: orange;
  border-left-color: orange;
  border-right-color: transparent;
  margin: 0 2px; }

.triangle-inline-left {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 10px 25px;
  border-style: solid;
  border-top-color: black;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: black;
  margin: 0 2px; }

.triangle-inline-right {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 10px 25px;
  border-style: solid;
  border-top-color: black;
  border-bottom-color: transparent;
  border-left-color: black;
  border-right-color: transparent;
  margin: 0 2px; }

.triangle-pseudo {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  content: "";
  border-width: 37.5px 15px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: red;
  border-top-width: 0;
  vertical-align: middle;
  margin: 0 5px; }

.c {
  background: gray;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 1em; }

.absolute {
  position: absolute;
  top: 5px;
  right: 10px;
  bottom: auto;
  left: auto;
  background: red;
  height: 50px; }

.relative {
  position: relative;
  top: 50px;
  left: 50px;
  background: white;
  height: 50px; }

.fixed {
  position: fixed;
  bottom: 20px;
  left: 40%;
  background: red;
  height: 50px;
  z-index: 10; }

.vcenter-lh {
  height: 3em;
  line-height: 3em; }

.vcenter-tb {
  display: table; }
  .vcenter-tb > .scut-test-inner {
    display: table-cell;
    vertical-align: middle; }

@media only screen and (max-width: 700px) {
  body {
    color: blue; } }
.scut-link-bd-dotted {
  border-bottom: 1px dotted;
  text-decoration: none; }

.scut-link-inherit {
  color: inherit; }
  .scut-link-inherit:hover, .scut-link-inherit:active {
    color: pink; }

@font-face {
  font-family: "Old Standard";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/oldstandard-regular-webfont.eot");
  src: url("fonts/oldstandard-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oldstandard-regular-webfont.woff") format("woff"), url("fonts/oldstandard-regular-webfont.ttf") format("truetype"), url("fonts/oldstandard-regular-webfont.svg#Old Standard") format("svg"); }

@font-face {
  font-family: "Old Standard";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/oldstandard-italic-webfont.eot");
  src: url("fonts/oldstandard-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oldstandard-italic-webfont.woff") format("woff"), url("fonts/oldstandard-italic-webfont.ttf") format("truetype"), url("fonts/oldstandard-italic-webfont.svg#Old Standard") format("svg"); }

@font-face {
  font-family: "Old Standard";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/oldstandard-bold-webfont.eot");
  src: url("fonts/oldstandard-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oldstandard-bold-webfont.woff") format("woff"), url("fonts/oldstandard-bold-webfont.ttf") format("truetype"), url("fonts/oldstandard-bold-webfont.svg#Old Standard") format("svg"); }

.font-face {
  font-family: "Old Standard";
  font-size: 2em; }

@media (-o-min-device-pixel-ratio: 1.3 / 1), (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 125dpi) {
  body {
    background: #f4f4f4; } }
body {
  font-family: Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1em 0; }

h1 {
  font-size: 3em;
  margin-top: 0; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }
