<div class="banner-main">
  <a href="index.html" class="site-title-c">
    <span class="site-title">Scut</span>
    <span class="site-subtitle">
      Sass Utilities
      <span class="site-subtitle-more">
        for the Frontend Laborer
      </span>
    </span>
  </a>

  <a href="#siteNav" class="goto-nav">
    <span class="hide-visually">navigation</span>
  </a>
</div>

<div class="scut-subbanner">
  <div class="version">
    v{{version}} (<a href="{{github-home}}/blob/master/CHANGELOG.md">changelog</a>)
  </div>
  <ul class="scut-elsewhere-links">
    <li>
      <a href="{{github-home}}" class="scut-elsewhere-link">Github Repo</a>
    </li>
    <li>
      <a href="{{codepen-url}}" class="scut-elsewhere-link">Codepen Playground</a>
    </li>
  </ul>
</div>