<nav id="siteNav" role="navigation" class="site-nav">
  {{>home-toc}}
  {{#categories}}
    <h2 class="nav-title">
      {{this.category}}
    </h2>
    <ul class="nav-list">
      {{#each pages}}
      <li>
        <a class="nav-link" href="{{data.slug}}.html">
          {{data.name}}
        </a>
      </li>
      {{/each}}
    </ul>
  {{/categories}}
  <a href="#" class="goto-top">back to top</a>
</nav>