<nav role="navigation" class="site-nav">
  {{#categories}}
    <h2>
      {{this.category}}
    </h2>
    <ul>
      {{#each pages}}
      <li>
        <a href="{{data.slug}}.html">
          {{data.name}}
        </a>
      </li>
      {{/each}}
    </ul>
  {{/categories}}
</nav>