.circle-1 {
  @include scut-circle;
}

.circle-2 {
  @include scut-circle(3em, red);
  border: 5px solid orange;
}

.foursquare-1 {
  @include scut-foursquare;
}
.foursquare-2 {
  @include scut-foursquare(false, 2em, 0.5em, red, orange);
}

.triangle-default {
  @extend %scut-triangle;
  margin-left: 1em;
}

.triangle-up {
  @include scut-triangle(up, 20px 40px, black);
  margin: 5px;
}
.triangle-down {
  @include scut-triangle(down, 20px 40px, black);
  margin: 5px;
}
.triangle-right {
  @include scut-triangle(right, 30px 20px, red);
  margin: 5px;
}
.triangle-left {
  @include scut-triangle(left, 30px 20px, red);
  margin: 5px;
}
.triangle-sized {
  @include scut-triangle(right, 80px 30px, blue);
}
.triangle-inline-up {
  @include scut-triangle(up-left, 20px, orange);
  margin: 0 2px;
}
.triangle-inline-down {
  @include scut-triangle(down-left, 20px, orange);
  margin: 0 2px;
}
.triangle-inline-left {
  @include scut-triangle(up-right, 50px 20px, black);
  margin: 0 2px;
}
.triangle-inline-right {
  @include scut-triangle(up-left, 50px 20px, black);
  margin: 0 2px;
}
.triangle-pseudo {
  @include scut-triangle(up, 30px 75px, red, true);
  vertical-align: middle;
  margin: 0 5px;
}