.c {
  background: gray;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 1em;
}

.absolute {
  @include scut-absolute(5px 10px a a);
  background: red;
  height: 50px;
}

.relative {
  @include scut-relative(50px n n 50px);
  background: white;
  height: 50px;
}

.fixed {
  @include scut-fixed(n n 20px 40%);
  background: red;
  height: 50px;
  z-index: 10;
}

.vcenter-lh {
  @include scut-vcenter-lh(3em);
}

.vcenter-ib {
  @extend %scut-vcenter-ib;
}

.vcenter-tb {
  @include scut-vcenter-tb(".scut-test-inner");
}

@include scut-bp("max-width: 700px") {
  body {
    color: blue;
  }
};

@include scut-font-face("Old Standard", "../fonts/oldstandard-regular-webfont");
@include scut-font-face("Old Standard", "../fonts/oldstandard-italic-webfont", normal, italic);
@include scut-font-face("Old Standard", "../fonts/oldstandard-bold-webfont", bold);

.font-face {
  font-family: "Old Standard";
  font-size: 2em;
}

@include scut-hd-bp {
  body {
    background: #f4f4f4;
  }
}