.scut-link-bd {
  @extend %scut-link-bd;
}

.scut-link-bd-dotted {
  @include scut-link-bd(dotted);
}

.scut-link-inherit {
  @include scut-link-inherit(pink);
}

.reverse-italics {
  @extend %scut-reverse-italics;
}

.indented-ps {
  @extend %scut-indented-ps;
}

@include scut-font-face("Old Standard", "fonts/oldstandard-regular-webfont");
@include scut-font-face("Old Standard", "fonts/oldstandard-italic-webfont", normal, italic);
@include scut-font-face("Old Standard", "fonts/oldstandard-bold-webfont", bold);

.font-face {
  font-family: "Old Standard";
  font-size: 2em;
}

@include scut-hd-bp {
  body {
    background: #f4f4f4;
  }
}