@mixin scut-borders (
  $border: 1px solid,
  $sides: y n
) {

  $top: nth($sides, 1);
  $right: nth($sides, 2);
  $bottom: null;
  $left: null;

  @if length($sides) == 2 {
    $bottom: nth($sides, 1);
    $left: nth($sides, 2);
  }
  @else if length($sides) == 4 {
    $bottom: nth($sides, 3);
    $left: nth($sides, 4);
  }


  @if $top == y {
    border-top: $border;
  }
  @if $right == y {
    border-right: $border;
  }
  @if $bottom == y {
    border-bottom: $border;
  }
  @if $left == y {
    border-left: $border;
  }

}

.borders {
  display: inline-block;
  margin-bottom: 1em;
  padding: 1em;
  &.v-1 {
    @include scut-borders;
  }
  &.v-2 {
    @include scut-borders($sides: y y n n);
  }
  &.v-3 {
    @include scut-borders(5px solid red);
  }
}