.center-transform-c {
  background: black;
  height: 20em;
  margin-bottom: 1em;
  position: relative;
}

.center-transform {
  background: white;
  display: inline-block;
  padding: 1em;

  &.m-1 {
    @extend %scut-center-transform;
  }
  &.m-2 {
    @extend %scut-center-transform-x;
  }
  &.m-3 {
    //@extend %scut-center-transform-y;
    @extend %scut-vcenter-tt;
  }
  &.m-4 {
    @include scut-center-transform;
  }
  &.m-5 {
    @include scut-center-transform(y);
  }
}