.color-swap {
  display: inline-block;
  padding: 1em 2em;
  border: 2px solid;
  margin: 0 2em 2em 0;

  &.m-1 {
    @include scut-color-swap(blue, red, 1s);
    font-size: 2em;
    font-weight: bold;
  }

  &.m-2 {
    @include scut-color-swap(red blue, black yellow, 0.5s);
  }

  &.m-3 {
    @include scut-color-swap(blue, red, 0.3s, true);
    color: white;
  }

  &.m-4 {
    @include scut-color-swap(blue, black, false, true);
  }

}