.margin-container {
  border: 5px solid;
  margin-bottom: 1em;
}
.margin {
  border: 5px solid blue;
  padding: 1em;
  &.m-1 {
    @include scut-margin(2em 3em n);
  }
  &.m-2 {
    @include scut-margin(n 4em);
  }
  &.m-3 {
    @include scut-margin(3em);
  }
  &.m-4 {
    @include scut-margin(3em 1em 2em);
  }
}