/*==========================
LAYOUT
==========================*/

body {
  background-color: $c-list;
  color: $c-f-1;
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 1100px) {
    font-size: 16px;
  }
}

.list,
.main {
  overflow-x: hidden;
  overflow-y: scroll;
}

.list,
.container {
  padding: 1.3em;
}

.list {
  @include scut-absolute(0 n 0 0);
  width: $list-x;
}

.main {
  @include scut-absolute(0 0 0 $list-x);

  // remove if things get responsive
  min-width: 30em;
}

.container {
  background-color: $c-main;
  overflow-x: hidden;
  max-width: 45em;
}