/*==========================
LAYOUT
==========================*/

body {
  background-color: $c-list;
}

.list,
.main {
  overflow-y: scroll;
  padding: 1.3em;
}

.list {
  @include scut-absolute(0 n 0 0);
  width: $list-x;
}

.main {
  @include scut-absolute(0 0 0 $list-x);
  background-color: $c-main;
  overflow-x: hidden;

  // remove if things get responsive
  min-width: 30em;
  max-width: $main-max-x;
}