.intro {
  &:after {
    content: "-- DOCS BEGIN --";
    display: block;
    font-family: $f-code;
    text-align: center;
    margin: 2em 0;
  }
}

.group--h {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

.doc-i {
  margin-bottom: 4em;
}

.doc-i--h {
  @include scut-vcenter-lh(2.5em);
  background-color: $c-zing;
  padding: 0 0 0 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -2em;
  margin-right: -2em;
  margin-bottom: 1em;
  a {
    display: block;
  }
}

.sub--h {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  margin-top: 2em;
  text-transform: capitalize;
}

.source {
  @include scut-vcenter-lh(2.5em);
  color: $c-zing;
  float: right;
  background: $c-list;
  padding: 0 2em;
  position: relative;
  &:before {
    @include scut-triangle(left, 2.5em, $c-list, true);
    @include scut-absolute(0 n n -1.25em);
  }
}

.info--label {
  @extend %label;
  float: left;
  width: $label-x;
}

.info--value {
  margin: 0.1em 0;
}

.args {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.args--name {
  margin-right: 1em;
}

.args--default {
  font-style: italic;
}

.args--comment {
  font-size: 0.9em;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.example {
  @extend %scut-clearfix;
}

.example--disp--inner {
  background: $c-bg-light;
  padding: 1em;
}

.refs {
  @extend %scut-list-unstyled;
  li {
    margin-bottom: 0.3em;
    padding-left: 1.3em;
    position: relative;
    &:before {
      @extend .new-tab;
      background-size: contain;
      content: "";
      display: block;
      @include scut-size(1em);
      @include scut-absolute(0.2em n n 0);
    }
  }
}

.help {
  color: gray;
  &:hover {
    color: $c-link-active;
  }
  font-weight: normal;
  font-size: 0.75em;
  @include scut-relative(n n 2px n);
}

.help-content-c {
  @include scut-fixed(0 0 0 0);
  background: rgba(0,0,0,0.7);

  transition: transform 0.3s linear;
  transform: translateX(100%);
  &.is-active {
    transform: translateX(0);
  }
}

.help-content {
  $help-x: 30em;
  $help-y: 15em;
  background: $c-bg-light;
  @include scut-absolute(50% 50% n n);
  margin-top: -($help-y / 2);
  margin-right: -($help-x / 2);
  @include scut-size($help-x $help-y);
  padding: 0 1em;
  border: 5px solid $c-list;
  @include scut-vcenter-td;

  transition-property: opacity, transform;
  transition-duration: 0.3s;
  opacity: 0;
  transform: scale(1.3);
  &.is-active {
    opacity: 1;
    transform: scale(1);
    z-index: 10;
  }
}

.help-close {
  background: $c-link;
  display: block;
  margin: 1em auto 0;
  width: 5em;
  text-align: center;
  padding: 0.2em 0;
  font-size: 0.9em;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
}