.category {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-transform: uppercase;
}

.util {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-transform: capitalize;
}