.intro {
  &:after {
    content: "-- DOCS BEGIN --";
    display: block;
    font-family: $f-code;
    text-align: center;
    margin: 2em 0;
  }
  a:not(.inner-anchor) {
    @extend %scut-link-bb;
  }
  h2 {
    margin-top: 1em;
  }
  h3,
  h4,
  h5 {
    margin-top: 2em;
  }
  h3 {
    display: block;
    border-bottom: 2px solid $c-bg-light;
  }
}

.intro-btn {
  display: inline-block;

  padding: 0.3em 0.7em;
  border: 1px solid;
}

.install-list {
  ul {
    @extend %scut-list-unstyled;
  }
  li {
    margin: 0.5em 0;
    position: relative;
    &:before {
      @include scut-triangle($pseudo: true);
      @include scut-absolute(0.35em n n -1.5em);
    }
  }
  background: $c-list;
  color: $c-main;
  margin: 1em -1.3em 1em -3em;
  padding: 0.5em 1em 0.5em 3em;
  a {
    color: $c-zing;
    &:hover {
      color: $c-link-active;
    }
  }
}

.group--h {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

.doc-i {
  margin-bottom: 4em;
}

.doc-i--h {
  @include scut-vcenter-lh(2.5em);
  background-color: $c-zing;
  padding: 0 0 0 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -2em;
  margin-right: -2em;
  margin-bottom: 1em;
  a {
    display: block;
  }
}

.sub--h {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  margin-top: 2em;
  text-transform: capitalize;
}

.source {
  @include scut-vcenter-lh(2.5em);
  color: $c-zing;
  float: right;
  overflow: hidden;
  padding: 0 2em 0 2.5em;
  position: relative;
  z-index: 2;
  &:before {
    @include scut-triangle(left, 22em, $c-list, true);
    @include scut-absolute(-9.75em 0 n n);
    z-index: -1;
  }
}

.info--label {
  cursor: pointer;
  &:hover {
    color: $c-link-active;
  }
  @extend %label;
  float: left;
  width: $label-x;

  &.m-help:after {
    content: "[?]";
    margin-left: 0.2em;
    color: gray;
    &:hover {
      color: $c-link-active;
    }
    font-weight: normal;
    font-size: 0.8em;
    @include scut-relative(n n 2px n);
  }
}

.info--value {
  margin: 0.1em 0;
}

.args {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.args--name {
  margin-right: 1em;
}

.args--default {
  font-style: italic;
}

.args--comment {
  font-size: 0.9em;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.example {
  @extend %scut-clearfix;
}

.example--disp--inner {
  background: $c-bg-light;
  padding: 1em;
}

.refs {
  @extend %scut-list-unstyled;
  li {
    margin-bottom: 0.3em;
    padding-left: 1.3em;
    position: relative;
    &:before {
      @extend .new-tab;
      background-size: contain;
      content: "";
      display: block;
      @include scut-size(1em);
      @include scut-absolute(0.2em n n 0);
    }
  }
}

/*==========================
HELP
==========================*/

.help-content-c {
  @include scut-fixed(0 0 0 0);
  background: rgba(0,0,0,0.7);

  transition: transform 0.3s linear;
  .preload & {
    transition: none !important;
  }
  transform: translateX(100%);
  &.is-active {
    transform: translateX(0);
  }
}

.help-content {
  background: $c-bg-light;
  @include scut-absolute(20% 50% n n);
  margin-right: -15em;
  width: 30em;
  padding: 2em;
  border: 5px solid $c-list;
  @extend %scut-vcenter-ib;

  display: none;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  opacity: 0;
  transform: scale(1.3);
  &.is-active {
    opacity: 1;
    transform: scale(1);
  }
}

.help-close {
  background: $c-link;
  display: block;
  margin: 1em auto 0;
  width: 5em;
  text-align: center;
  padding: 0.2em 0;
  font-size: 0.9em;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
}