body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  color: $c-link;
  text-decoration: none;
  @include scut-selected {
    color: $c-link-active;
  }
}

.inner-anchor {
  color: inherit;
  cursor: pointer;
  &:after {
    color: rgba(0,0,0,0.05);
    content: "#";
    margin-left: 0.2em;
  }
  &:hover {
    color: $c-link-active;
    &:after {
      color: rgba(0,0,0,0.3)
    }
  }
}

.list {
  color: white;
  ul {
    @extend %scut-list-unstyled;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
}

h1,
h2,
h4,
h5 {
  margin-bottom: 0.5em;
}

h2,
h4 {
  margin-top: 1em;
}

h1 {
  color: $c-list;
  font-size: 4em;
  font-weight: bold;
  border-bottom: 10px double;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  a {
    display: block;
  }
  font-size: 3em;
  padding: 0.2em 1em;
  background-color: $c-bg-light;
  margin: 0 -1em;
}

h3 {
  font-size: 1.5em;
  color: $c-list;
  display: inline-block;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

h5 {
  font-size: 0.9em;
  font-weight: bold;
}

code {
  color: $c-list;
  font-family: $f-code;
  font-size: 0.9em;
  font-style: normal;
}

p {
  line-height: 1.4;
}

%label {
  @extend h5;
  margin: 0.1em 1em 0 0;
}