body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  color: $c-link;
  text-decoration: none;
  @include scut-selected {
    color: $c-link-active;
  }
}

.inner-anchor {
  @extend %scut-link-inherit;
  cursor: pointer;
  &:hover {
    color: $c-link;
    &:after {
      content: "#";
      margin-left: 0.5em;
    }
  }
}

.list {
  color: white;
  ul {
    @extend %scut-list-unstyled;
  }
}

h1,
h2,
h4,
h5 {
  margin-bottom: 0.5em;
}

h2,
h4,
h5 {
  margin-top: 1em;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  color: $c-list;
  display: inline-block;
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

code {
  color: $c-list;
  font-family: "Droid Sans Mono", "Courier New", "Courier New", monospace;
  font-size: 0.9em;
  font-style: normal;
}

p {
  line-height: 1.4;
}

%label {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 1em 0 0;
  text-transform: uppercase;
}