// dimensions
$list-x: 16em;
$label-x: 9em;

// colors
$c-f-1: #222;
$c-list: #002834;
$c-main: #fff;
$c-link: #2F96B3;
$c-link-active: #05A536;
$c-link-2: #FFBA73;
$c-zing: #9AE9FF;
$c-bg-light: #EDF0FF;

// breakpoints
$wide-enough: "min-width: 59.5em";

// fonts
$f-code: "Droid Sans Mono", "Courier New", "Courier New", monospace;

/*
http://colorschemedesigner.com/#3o51TIckNw0w0

Primary Color:
025167  14414D  013443  2F96B3  529EB3
Secondary Color A:
081D71  1A2554  031049  3851B8  5A6CB8
Secondary Color B:
007A25  175C2C  005018  2FBD5A  55BD74

*/