// dimensions
$list-x: 15em;
$label-x: 8em;

// colors
$c-f-1: #222;
$c-list: #025167;
$c-main: #fff;
$c-link: #FF2300;
$c-link-active: #A61700;
$c-link-2: #FFBA73;
$c-zing: #FFC640;

// breakpoints
$wide-enough: "min-width: 59.5em";

/*

http://colorschemedesigner.com/#3o21Tw0w0w0w0

Primary Color:
057D9F  216477  025167  39AECF  61B7CF
Complementary Color:
FFB300  BF9430  A67400  FFC640  FFD573
Secondary Color:
FF2300  BF4330  A61700  FF5A40  FF8673
*/