// dimensions
$list-x: 15em;

// colors
$c-list: #216477;
$c-main: #D0DFE4;

/*

http://colorschemedesigner.com/#3o21Tw0w0w0w0

Primary Color:
057D9F  216477  025167  39AECF  61B7CF
Complementary Color:
FF8100  BF7830  A65400  FFA040  FFBA73
*/