node_modules
bower_components
.sass-cache

docs/dist
docs/dev/index.html
docs/dev/assets/main.css
docs/dev/assets/images/svg-assets/opt
docs/dev/assets/scss/_concatenated-examples.scss

test/*.html
test/style/css
test/style/scss/_tests.scss

*.gem