<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Scut</title>
    <meta name="description" content="Scut: A collection of SCSS utilities.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if dist}}
    <link rel="stylesheet" href="assets/css-built.min.css">
    {{else}}
    <link rel="stylesheet" href="assets/main.css">
    {{/if}}

    <!-- IE8: shiv, jQuery, then Selectivizr & Respond.js -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->

  </head>

  <body class="preload" onload="document.body.className=''">
    {{>list}}
    {{>main}}

    {{#if dist}}
    <script src="assets/js-built.min.js"></script>
    {{else}}
    <script src="../../bower_components/overthrow/dist/overthrow.js"></script>
    <script src="assets/js/lib/prism.js"></script>
    <script src="assets/js/modals.js"></script>
    {{/if}}
  </body>

</html>