.eg-center-absolutely-c {
  border: 5px solid;
  height: 6em;
  margin-bottom: 1em;
  position: relative;
}
.eg-center-absolutely {
  background: gray;
  &.v-1 {
    @include scut-center-absolutely(20em 3em);
  }
  &.v-2 {
    @include scut-center-absolutely(20em n);
  }
  &.v-3 {
    @include scut-center-absolutely(n 3em);
  }
}