.example-fill--parent {
  border: 3px solid black;
  color: red;
  height: 100px;
  padding: 1em;
  position: relative;
}

.example-fill--child {
  @extend %scut-fill;
  background: rgba(0,0,0,0.4);
  padding: 2.5em 1em 0;
}