.eg-list-inline {
  li {
    border: 1px solid;
    padding: 0 5px;
  }
  &.v-1 {
    // Default-values placeholder
    @extend %scut-list-inline;
    margin-bottom: 1em;
  }
  &.v-2 {
    @include scut-list-inline(1em);
  }
}