.eg-absolute {
  border: 5px solid black;
  height: 150px;
  width: 150px;
  position: relative;
}
.eg-absolute--i {
  background: gray;
  &.m-left {
    // Default-values placeholder
    @extend %scut-absolute;
  }
  &.m-right {
    @include scut-absolute(n 0.5em 0.5em n);
  }
}