.eg-ratio--outer {
  // 9 / 16 * 100 = 56.25%
  @include scut-ratio-box(56.25%, ".eg-ratio--inner");
}
.eg-ratio--inner {
  background: gray;
}
.eg-ratio--c {
  margin-top: 1em;
  &.m-1,
  &.m-3 {
    width: 200px;
  }
  &.m-2,
  &.m-4 {
    width: 100px;
  }
}
.eg-ratio--square {
  // Default-values placeholder
  @extend %scut-ratio-box;
  .scut-inner {
    background: gray;
  }
}
