.eg-ratio--outer {
  // 9 / 16 * 100 = 56.25%
  @include scut-ratio-box(56.25%, ".eg-ratio--inner");
}
.eg-ratio--inner {
  background: gray;
}
.eg-ratio--c {
  margin-top: 1em;
  &.m-1 {
    width: 200px;
  }
  &.m-2 {
    width: 100px;
  }
}
