.eg-triangle {
  margin-right: 1em;
  &.m-default {
    // Default-values placeholder
    @extend %scut-triangle;
  }
  &.m-equilateral {
    @include scut-triangle(up, 1em 1.4em, gray);
  }
  &.m-corner-1 {
    @include scut-triangle(up-right, 1em, blue);
  }
  &.m-corner-2 {
    @include scut-triangle(down-left, 2em 1em, red);
  }
}
.eg-triangle-button {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 0.1em 0.5em;
  &:after {
    margin-left: 0.3em;
  }
  &.m-down:after {
    @include scut-triangle(down, 0.7em 1em, $pseudo: true);
    margin-bottom: 0.15em;
  }
  &.m-up:after {
    @include scut-triangle(up, 0.7em 1em, $pseudo: true);
    margin-bottom: 0.2em;
  }
  &.m-more {
    color: blue;
    &:hover {
      color: red;
    }
    &:after {
      @include scut-triangle($pseudo: true);
    }
  }
}