.eg-vcenter-ib {
  border: 5px solid black;
  padding: 0 1em;
  &.m-default {
    // Default-values placeholder
    @extend %scut-vcenter-ib;
    height: 120px;
  }
  &.m-variant {
    @include scut-vcenter-ib(".eg-vcenter-ib--inner");
    height: 200px;
    margin-top: 1em;
  }
}