.example-vcenter-td {
  @include scut-vcenter-td(".example-vcenter-td--inner");
  border: 5px solid black;
  height: 100px;
}
.example-vcenter-td--inner {
  background: gray;
  padding: 0 1em;
}
.example-vcenter-td--box {
  background: blue;
  display: inline-block;
  height: 70px;
  width: 70px;
}