.eg-vcenter-td {
  border: 5px solid black;
  padding: 0 1em;
  &.m-default {
    // Default-values placeholder
    @extend %scut-vcenter-td;
    height: 120px;
  }
  &.m-variant {
    @include scut-vcenter-td(".eg-vcenter-td--inner");
    height: 200px;
  }
}
.eg-vcenter-td--box {
  background: blue;
  display: inline-block;
  height: 70px;
  width: 200px;
}