extends includes/base

block content
  h2 Layouts

  h3 Lists
    h4 Unstyled List
    ul.list-unstyled
      li Item 1
      li Item 2
      li Item 3
      li Item 4
    h4 Float List
    ul.list-float
      li Item 1
      li Item 2
      li Item 3
      li Item 4
    h4 Comma List
    ul.list-comma
      li Item 1
      li Item 2
      li Item 3
      li Item 4
    h4 Semicolon List
    ul.list-semicolon
      li Item 1
      li Item 2
      li Item 3
      li Item 4
    h4 Bar List
    ul.list-bar
      li Item 1
      li Item 2
      li Item 3
      li Item 4
    h4 Dash List
    ul.list-dash
      li Item 1
      li Item 2
      li Item 3
      li Item 4
    h4 Breadcrumb
    ul.list-breadcrumb
      li Item 1
      li Item 2
      li Item 3
      li Item 4


  h4 Ratio box
  .ratio-box
    .scut-inner 16 x 9


