extends includes/base

block content
  h2 Shortcuts

  h3 Coordinates

  .c
    .absolute Absolute
    .relative Relative
  .fixed Fixed

  h3 Vertical Center
  .c.vcenter-lh Vertical Center by line height
  .c.vcenter-ib
    .scut-inner Vertical Center by inline-block trick
  .c.vcenter-tb
    .scut-test-inner Vertical Center by display:table trick

  .font-face
    h3 Font Face
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.