extends includes/base

block content
  h2 Shortcuts

  h3 Coordinates

  .c
    .absolute Absolute
    .relative Relative
  .fixed Fixed

  h3 Vertical Center
  .c.vcenter-lh Vertical Center by line height
  .c.vcenter-ib
    .scut-inner Vertical Center by inline-block trick
  .c.vcenter-tb
    .scut-test-inner Vertical Center by display:table trick
