extends includes/base

block content
  h2 Typography

  h3 Links

  p: a(href="#") Regular link

  p: a(href="#").scut-link-bd Border instead of underline

  p: a(href="#").scut-link-bd-dotted Dotted border

  p: a(href="#").scut-link-inherit Inheriting color

  h3 Text

  h4 Reverse Italics

  p.reverse-italics Lorem ipsum dolor sit amet, <cite>inside a cite tag</cite>. Aenean commodo ligula eget dolor. Aenean massa. <em>Inside an em tag</em> dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. <i>Inside an i tag</i>, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

  h4 Indented Paragraphs

  section.indented-ps
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.