@include scut-font-face("icomoon-stereo", fonts/icomoon-stereo);

.eg-fonticon-label {
  border: 2px solid black;
  padding: 0.5em 1em;
  &.m-1 {
    @include scut-fonticon-label("icomoon-stereo", "\e004");
    &:active:before {
      content: "\e002"
    }
  }
  &.m-2 {
    @include scut-fonticon-label("icomoon-stereo", "\e003") {
      font-size: 2em;
    }
    &:hover {
      color: red;
    }
  }
  &.m-3 {
    @include scut-fonticon-label("icomoon-stereo", "\e001", 1.5em, after) {
      color: red;
    }
    &:hover {
      color: red;
      &:after {
        color: blue;
      }
    }
  }
}

@keyframes rewind {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1em); }
}

.eg-fonticon-label.m-4 {
  border: 0;
  font-size: 2em;
  padding-left: 2em;
  @include scut-fonticon-label("icomoon-stereo", "\e000") {
    font-size: 2em;
  }
  &:hover:before {
    animation: rewind 1s linear infinite;
  }
}