/* import start */
@import "../../../dist/scut";
@import "example-variables";
/* import end */

/* hidden rules */
.eg-absolute-container {
  border: 5px solid $eg-dark;
  height: 10em;
  width: 15em;
}
.eg-absolute {
  @extend %eg-dark-btn;
}
/* end hidden rules */

/* example start */
.eg-absolute-container {
  position: relative;
}
.eg-absolute-1 {
  @include scut-absolute;
  // or @extend %scut-absolute;
  }
.eg-absolute-2 {
  @include scut-absolute(n 0.5em 1em n);
}
/* example end */