// BOOKENDS
// http://davidtheclark.github.io/scut/#bookends

@mixin scut-bookends (
  $space: 0.5em,
  $content: ""
) {

  $content-list: length($content) == 2;

  // If $content is a list or there $space exist,
  // set some pseudo-element-specific rules.
  @if $content-list or $space {
    &:before {
      @if $content-list {
        content: nth($content, 1);
      }
      @if $space {
        margin-right: $space;
      }
    }
    &:after {
      @if $content-list {
        content: nth($content, 2);
      }
      @if $space {
        margin-left: $space;
      }
    }
  }

  // Then set some rules that apply to both
  // pseudo-elements.
  &:before,
  &:after {
    display: inline-block;

    @if $content and length($content) == 1 {
      content: $content;
    }

    // Any additional styling applies to both.
    @content;

  }

}