/*==========================
CSS CHARACTERS

http://css-tricks.com/snippets/html/glyphs/
==========================*/

$scut-amp: "\0026";
$scut-gt: "\003e";
$scut-lt: "\003c";
$scut-nbsp: "\00a0";
$scut-quot: "\0022";
$scut-sect: "\00a7";
$scut-laquo: "\00ab";
$scut-raquo: "\00bb";
$scut-para: "\00b6";
$scut-middot: "\00b7";
$scut-oslash: "\00f8";
$scut-mdash: "\2014";
$scut-ndash: "\2013";
$scut-lsquo: "\2018";
$scut-rsquo: "\2019";
$scut-lsaquo: "\2039";
$scut-rsaquo: "\203A";
$scut-ldquo: "\201C";
$scut-rdquo: "\201D";
$scut-bull: "\2022";
$scut-hellip: "\2026";