/*==========================
CSS CHARACTERS
http://davidtheclark.github.io/scut/#characters
==========================*/

// quotation mark "
$scut-quot: "\0022";
// left single curly quote ‘
$scut-lsquo: "\2018";
// right single curly quote ’
$scut-rsquo: "\2019";
// left double curly quote “
$scut-ldquo: "\201C";
// right double curly quote ”
$scut-rdquo: "\201D";
// left single angle quote (guillemet) ‹
$scut-lsaquo: "\2039";
// right single angle quote (guillemet) ›
$scut-rsaquo: "\203A";
// left double angle quote (guillemet) «
$scut-laquo: "\00ab";
// right double angle quote (guillemet) »
$scut-raquo: "\00bb";

// em dash (mutton) — [should look longer]
$scut-mdash: "\2014";
// en dash (nut) – [between a hyphen and an em dash in length]
$scut-ndash: "\2013";

// ampersand &
$scut-amp: "\0026";
// greater than >
$scut-gt: "\003e";
// less than <
$scut-lt: "\003c";
// non-breaking space [nothing to see]
$scut-nbsp: "\00a0";

// section sign (double S, hurricane, sectional symbol, the legal doughnut, signum sectiōnis) §
$scut-sect: "\00a7";
// paragraph symbol (pilcrow) ¶
$scut-para: "\00b6";

// middot (interpunct, interpoint) ·
$scut-middot: "\00b7";
// o-slash (slashed o) Ø
$scut-oslash: "\00f8";
// bullet •
$scut-bull: "\2022";
// triangular bullet ‣
$scut-tribull: "\25E6";
// horizontal ellipsis …
$scut-hellip: "\2026";
// vertical ellipsis ⋮
$scut-vellip: "\22EE";
// midline horizontal ellipsis ⋯
$scut-midhellip: "\22EF";