// space
$scut-space: "\0020";
// non-breaking space
$scut-nbsp: "\00a0";

// quotation mark
$scut-quot: "\0022";
// left single curly quote
$scut-lsquo: "\2018";
// right single curly quote
$scut-rsquo: "\2019";
// left double curly quote
$scut-ldquo: "\201C";
// right double curly quote
$scut-rdquo: "\201D";
// left single angle quote (guillemet)
$scut-lsaquo: "\2039";
// right single angle quote (guillemet)
$scut-rsaquo: "\203A";
// left double angle quote (guillemet)
$scut-laquo: "\00ab";
// right double angle quote (guillemet)
$scut-raquo: "\00bb";

// em dash (mutton)
$scut-mdash: "\2014";
// en dash (nut)
$scut-ndash: "\2013";
// hyphen
$scut-hyphen: "\2010";

// ampersand
$scut-amp: "\0026";
// greater than
$scut-gt: "\003e";
// less than
$scut-lt: "\003c";
// times
$scut-times: "\00D7";
// big times
$scut-bigtimes: "\2715";
// checkmark
$scut-checkmark: "\2713";

// section sign (double S, hurricane, sectional symbol, the legal doughnut, signum sectionis)
$scut-sect: "\00a7";
// paragraph symbol (pilcrow)
$scut-para: "\00b6";

// middot (interpunct, interpoint)
$scut-middot: "\00b7";
// o-slash (slashed o)
$scut-oslash: "\00f8";
// bullet
$scut-bull: "\2022";
// white bullet
$scut-whibull: "\25E6";
// horizontal ellipsis
$scut-hellip: "\2026";
// vertical ellipsis
$scut-vellip: "\22EE";
// midline horizontal ellipsis
$scut-midhellip: "\22EF";

// up-pointing triangle
$scut-utri: "\25b2";
// down-pointing triangle
$scut-dtri: "\25bc";
// left-pointing triangle
$scut-ltri: "\25c0";
// right-pointing triangle
$scut-rtri: "\25b6";
// up-pointing small triangle
$scut-ustri: "\25b4";
// down-pointing small triangle
$scut-dstri: "\25be";
// left-pointing small triangle
$scut-lstri: "\25c2";
// right-pointing small triangle
$scut-rstri: "\25b8";
// diamond
$scut-diamond: "\25c6";
// fisheye
$scut-fisheye: "\25c9";
// bullseye
$scut-bullseye: "\25ce";
// circle
$scut-circle: "\25cf";
// white circle
$scut-whitecircle: "\25cb";
// square
$scut-square: "\25a0";
// white square
$scut-whitesquare: "\25a1";
// small square
$scut-ssquare: "\25aa";
// small white square
$scut-swhitesquare: "\25ab";

// general currency
$scut-currency: "\00a4";
// cent
$scut-cent: "\00a2";
// dollar
$scut-dollar: "\0024";
// pound
$scut-pound: "\00a3";
// euro
$scut-euro: "\20ac";
// yen
$scut-yen: "\00a5";
// rupee
$scut-rupee: "\20B9";