@mixin scut-hanging-indent (
  $indent: 1em
) {

  // padding-left creates the indent,
  // while text-indent pulls the first line
  // back to the edge.

  padding-left: $indent;
  text-indent: -$indent;

}

%scut-hanging-indent {
  @include scut-hanging-indent;
}