@mixin scut-key-val (
  $divider: ":",
  $pad: 0.25em,
  $indent: 1em,
  $spacing: 0,
  $pad-left: 0
) {

  & > dt {
    clear: both;
    float: left;
    &:after {
      content: $divider;
      margin-right: $pad;
      @if $pad-left != 0 {
        margin-left: $pad-left;
      }
    }
  }

  & > dd {
    margin-left: $indent;
    @if $spacing != 0 {
      margin-bottom: $spacing;
    }
  }

}

%scut-key-val {
  @include scut-key-val;
}