@mixin scut-reverse-italics (
  $elements: null
) {

  $element-list: em, cite, i;
  font-style: italic;
  #{join($element-list, $elements)} {
    font-style: normal;
  }

}

%scut-reverse-italics {
  @include scut-reverse-italics;
}
