---
layout: base.hbs
title: Scut
description: Sass utilities for the front-end laborer.
---

<h1>Scut</h1>

<h2>Introduction</h2>
{{#markdown}}{{>intro}}{{/markdown}}

<h2>About</h2>
{{#markdown}}{{>about}}{{/markdown}}

<h2>Installation</h2>
{{#markdown}}{{>installation}}{{/markdown}}

<h2>Usage</h2>
{{#markdown}}{{>usage}}{{/markdown}}

<h2>Contributing</h2>
{{#markdown}}{{>contributing}}{{/markdown}}
