---
layout: base.hbs
title: Scut
description: Sass utilities for the front-end laborer.
---

<main class="site-main">
  <h1 class="hide-visually">Scut</h1>

  <div class="summary">Scut is a collection of Sass utilities to ease and improve our implementations of common style-code patterns.</div>

  <section id="about" class="entry">
    {{#markdown}}{{>about}}{{/markdown}}
  </section>

  <section id="installation" class="entry">
    {{#markdown}}{{>installation}}{{/markdown}}
  </section>

  <section id="usage" class="entry">
    {{#markdown}}{{>usage}}{{/markdown}}
  </section>

  <section id="contributing" class="entry">
    {{#markdown}}{{>contributing}}{{/markdown}}
  </section>

</main>