h2 Breakpoints

p.breakpoint When viewport is at least 700px wide, this paragraph should be blue. When less than 700px, it should be red.

p.hd-breakpoint If your screen is high-def, this paragraph should be green. Otherwise, gray.
