h2 Clearfix
p The following two boxes contain floated divs, and these floating divs determine their heights.
.clearfix
  .clearfix-inner Floated
  .clearfix-inner Floated
.clearfix
  .clearfix-inner Floated
  .clearfix-inner Floated