h2 Triangle
p Default
  span.triangle-default
.triangle-up
.triangle-down
.triangle-left
.triangle-right
.triangle-sized
p And here are some inline
  span.triangle-inline-up
  span.triangle-inline-down
  span.triangle-inline-left
  span.triangle-inline-right
p And as a pseudo-element
  span.triangle-pseudo
