/*==========================
LAYOUT
==========================*/

body {
  background-color: $c-list;
  color: $c-f-1;
  font-size: 14px;
  @media (min-width: scut-em(1100)) {
    font-size: 16px;
  }
}

.list,
.container {
  padding: $container-pad;
}

.list {
  @include scut-absolute(0 n 0 0);
  width: $list-x;

  display: none;
  @media ($bp-show-list) {
    display: block;
  }
}

.main {
  @include scut-absolute(0 0 0 0);
  @media ($bp-show-list) {
    left: $list-x;
  }

  // remove if things get responsive
  min-width: scut-em(320);
}

.container {
  background-color: $c-main;
  overflow-x: hidden;
  max-width: 45em;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow-enabled class too */
.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}