/*==========================
LAYOUT
==========================*/

body {
  background-color: $c-list;
  color: $c-f-1;
  font-size: 14px;
  @media (min-width: scut-em(1100)) {
    font-size: 16px;
  }
}

.list,
.container {
  padding: $container-pad;
}

.list {
  @include scut-fixed(0 n 0 0);
  transform: translateZ(0);
  width: $list-x;

  display: none;
  @media ($bp-show-list) {
    display: block;
  }
}

.main {
  @media ($bp-show-list) {
    padding-left: $list-x;
  }
}

.container {
  background-color: $c-main;
  overflow-x: hidden;
  max-width: 45em;
}

.overflow-scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
