// entry-body is accordion-style
// at small sizes

@mixin show-entry-body {
  @include scut-size(auto);
  position: static;
  z-index: 1;
}

.entry-body {
  @include scut-size(0);
  overflow: hidden;
  position: absolute;
  z-index: -10;

  @media ($bp-show-list) {
    @include show-entry-body;
  }
}

@media ($bp-hide-list) {
  :target > .entry-body {
    @include show-entry-body;
    margin-top: 1em;
  }
}

// -------------------

.group--h {
  font-size: 2.5em;
  margin-bottom: 0.3em;

  display: none;
  @media ($bp-show-list) {
    display: block;
  }
}

.doc-i {
  margin-bottom: 1em;
  @media ($bp-show-list) {
    margin-bottom: 4em;
  }
}

.doc-i--h {
  background-color: $c-zing;
  padding: 0.5em $container-pad;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -$container-pad;
  margin-right: -$container-pad;

  @media ($bp-show-list) {
    @include scut-vcenter-lh(2.5em);
    padding: 0 0 0 $container-pad;
    margin-bottom: 1em;
    a {
      display: block;
    }
  }
}

.sub--h {
  border-bottom: 1px solid;
  margin-bottom: 1em;
  margin-top: 2em;
  text-transform: capitalize;
}

.source {
  @extend .github;
  background-size: contain;
  @include scut-size(24px);
  @include scut-image-replace;
  float: right;
  margin-left: 1em;

  @media ($bp-show-list) {
    // cancel styles
    text-indent: 0;
    white-space: normal;
    width: auto;
    height: auto;
    background-image: none;
    margin-left: 0;

    @include scut-vcenter-lh(2.5em);
    color: $c-zing;

    overflow: hidden;
    width: 11em;
    padding-left: 2.5em;
    position: relative;
    z-index: 2;
    &:before {
      content: "";
      @include scut-triangle(left, 11em 20em, $c-list);
      @include scut-absolute(-8.75em 0 n n);
      z-index: -1;
    }
  }
}

.info-list {
  @media ($bp-show-list) {
    @include scut-key-val("", $indent: 9em);
  }
}

.info--label {
  cursor: pointer;
  &:hover {
    color: $c-link-active;
  }
  @extend %label;
  //float: left;
  width: $label-x;

  &.m-help:after {
    content: "[?]";
    margin-left: 0.2em;
    color: gray;
    &:hover {
      color: $c-link-active;
    }
    font-weight: normal;
    font-size: 0.8em;
    @include scut-relative(n n 2px n);
  }
}

.info--value {
  margin: 0.1em 0 0.5em 1.5em;
}

.args {
  display: inline-block;
  margin: 0;
  padding: 0;
  & > li:not(:first-child) {
    margin-top: 0.5em;
  }
}

.args--name {
  margin-right: 1em;
}

.args--default {
  font-style: italic;
}

.args--comment {
  font-size: 0.9em;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.example {
  @extend %scut-clearfix;
}

.refs {
  @extend %scut-list-unstyled;
  li {
    margin-bottom: 0.3em;
    padding-left: 1.3em;
    position: relative;
    &:before {
      @extend .new-tab;
      background-size: contain;
      content: "";
      display: block;
      @include scut-size(1em);
      @include scut-absolute(0.2em n n 0);
    }
  }
}


/*==========================
EXAMPLES
==========================*/

.example--disp--inner {
  background: $c-bg-light;
  overflow: auto;
  padding: 1em;
}

%eg-light-btn {
  border: 1px solid $eg-dark;
  color: $eg-dark;
  padding: 0.3em 0.5em;
}

%eg-dark-btn {
  background-color: $eg-dark;
  color: white;
  padding: 0.3em 0.5em;
}