.help-content-c {
  @include scut-fixed(0 0 0 0);
  z-index: 3;
  background: rgba(0,0,0,0.7);
  display: none;
  &.is-active {
    display: block;
  }
}

.help-content {
  background: $c-bg-light;
  width: 20em;
  max-height: 100%;
  overflow: auto;
  padding: 2em;
  border: 5px solid $c-list;
  @extend %scut-center-transform;
  display: none;
  &.is-active {
    display: block;
  }
}

.help-close {
  background: $c-link;
  color: $c-bg-light;
  display: block;
  margin: 1em auto 0;
  width: 7em;
  text-align: center;
  padding: 0.7em 0;
  font-size: 0.9em;
  text-transform: uppercase;
  &:hover {
    color: white;
  }
}