.version {
  display: block;
  font-weight: bold;
  font-size: 0.3em;
  text-transform: none;
  @include scut-absolute(n 0 0.5em n);
}

.intro {
  &:after {
    content: "-- UTILITIES BELOW --";
    display: block;
    font-family: $f-code;
    text-align: center;
    margin: 2em 0;
  }
  a:not(.inner-anchor) {
    @extend %scut-link-bb;
  }
  h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.3em;
  }
  h3,
  h4,
  h5 {
    &:not(:first-child) {
      margin-top: 2em;
    }
  }
  h3 {
    display: block;
    border-bottom: 2px solid $c-bg-light;
  }
}

.intro-btn {
  display: inline-block;

  padding: 0.3em 0.7em;
  border: 1px solid;
}

.install-list {
  ul {
    @extend %scut-list-unstyled;
  }
  li {
    margin: 0.5em 0;
    position: relative;
    &:before {
      content: "";
      @include scut-triangle;
      @include scut-absolute(0.25em n n -1.5em);
    }
  }
  background: $c-list;
  color: $c-main;
  margin: 1em 0 1em -2em;
  padding: 0.5em 1em 0.5em 3em;
  code {
    color: $c-main;
  }
  a,
  a > code {
    color: $c-zing;
    &:hover {
      color: $c-link-active;
    }
  }
  pre > code {
    color: $c-f-1;
  }
  code[class*="language-"], pre[class*="language-"] {
    white-space: pre-line;
  }
}

.changelog {
  dt {
    font-weight: bold;
  }
  @include scut-key-val("", 0, 2em);
}

.changelog-i-list {
  margin: 0;
}
