<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Scut Test</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="wrapper">
      <a href="/" class="pages-i">Back to Scut Text Index</a>
      <h1>A Scut Test: {{title}}</h1>
      {{>body}}
    </div>
  </body>
</html>
