<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Scut Test</title>
    <link rel="stylesheet" href="style/css/main.css">
  </head>
  <body>
    <div class="wrapper">

      {{#unless index}}
      <a href="/" class="pages-i">Back to Scut Text Index</a>
      <h1>A Scut Test: {{title}}</h1>
      {{/unless}}

      {{#if footer}}
      <!-- Sticky footer needs to be placed outside the .wrapper. -->
      </div>
      {{/if}}

      {{>body}}

    {{#unless footer}}
    </div>
    {{/unless}}

  </body>
</html>
