<nav class="list" role="navigation">
  <ul class="index-1">
    {{#each categories}}
    <li>
      <a href="#{{category}}" class="index-1--i">
        {{slugToWords category}}
      </a>
      <ul class="index-2">
        {{#each items}}
        <li>
          <a href="#{{name}}" class="index-2--i">
            {{slugToWords name}}
          </a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>

</nav>