<nav class="list overthrow" role="navigation">
  <ul class="index-1">
    <li>
      <a href="https://github.com/davidtheclark/scut/" class="github-link">on Github</a>
      <a href="#main" class="main-link">
        <span class="index-title">Scut</span>
        <span class="index-subtitle">: SCSS Utilities</span>
      </a>
      <a href="#main" class="index-1--i">about</a>
    </li>
    <li>
      <a href="#installation" class="index-2--i">
        installation
      </a>
    </li>
    <li>
      <a href="#usage" class="index-2--i">
        usage
      </a>
    </li>
    <li>
      <a href="#contributing" class="index-2--i">
        contributing
      </a>
    </li>
    {{#each categories}}
    <li>
      <a href="#{{category}}" class="index-1--i">
        {{slugToWords category}}
      </a>
      <ul class="index-2">
        {{#each items}}
        <li>
          <a href="#{{name}}" class="index-2--i">
            {{slugToWords name}}
          </a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>

</nav>