.site-title-c {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $c-bg-main;
  @include scut-selected {
    color: $c-link-active;
  }
}

.site-title {
  font-size: 3em;
}

.site-subtitle {
  color: $c-zing;
  display: block;
  font-size: 1.5em;
  margin-top: 0.2em;
  &:before {
    content: ":";
    margin-right: 0.3em;
  }
}