.site-main {
  background-color: #fff;
  padding-bottom: 5em;
  @media #{$bp-sidebar} {
    float: right;
    width: 75%;
  }
}

.source-btn {
  margin-top: 1em;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    @include scut-size(1.5em);
    background: #000;
    margin-right: 0.5em;
  }
  @media #{$bp-sidebar} {
    @include scut-absolute(0 1em n n);
  }
}
@media #{$bp-sidebar} {
  .entry-title {
    margin-right: scut-em(180, 2.25em);
  }
}

.info-list {
  @include scut-reset-paragraph;
  @include scut-key-val($spacing: 0.5em);
  & > dt {
    font-weight: bold;
  }
  @media #{$bp-sidebar} {
    & > dt {
      width: 7em;
      text-align: right;
    }
    & > dd {
      margin-left: 8em;
    }
  }
}

.args-list {
  clear: both;
  padding-left: 0.5em;
  padding-top: 0.01em;
  margin-top: 2em;
  margin-bottom: 0;
  & > li {
    margin-top: 0.5em;
  }
  @media #{$bp-sidebar} {
    margin-top: 0;
    position: relative;
    top: -1.95em;
  }
}

.default {
  @extend %scut-key-val;
  @include scut-margin(0 n);

}

.example-css {
  &.is-hidden {
    display: none;
  }
}

.show-css-btn {
  margin-top: 1em;
}

.result {
  background-color: $c-bg-light;
  padding: 1em;
}

.refs {
  padding-left: 1em;
  @include scut-list-custom("", 1.5em) {
    height: 1em;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPCEtLSBHZW5lcmF0b3I6IEljb01vb24uaW8gLS0+IDwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+IDxzdmcgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGZpbGw9IiMwMDAwMDAiPjxnPjxwYXRoIGQ9Ik0gNiwybDAsMjQgbCAyNCwwIEwgMzAsMiBMIDYsMiB6IE0gMjgsMjRMIDgsMjQgTCA4LDQgbCAyMCwwIEwgMjgsMjQgek0gNCwyOEwgNCw4TCAyLDZMIDIsMzBMIDI2LDMwTCAyNCwyOCB6TSAxMy40MTQsMjEuNDE0TCAxOS40MTQsMTUuNDE0TCAyNCwyMEwgMjQsOEwgMTIsOEwgMTYuNTg2LDEyLjU4NkwgMTAuNTg2LDE4LjU4NiB6Ij48L3BhdGg+PC9nPjwvc3ZnPg==) no-repeat center left;
    background-size: contain;
    top: 0.2em;
  }
  & > li + li {
    margin-top: 0.5em;
  }
}