$eg-dark: #002834;
$eg-light: #9AE9FF;
$eg-muted: #CCCCCC;


%eg-light-btn {
  border: 1px solid $eg-dark;
  color: $eg-dark;
  padding: 0.3em 0.5em;
}

%eg-dark-btn {
  background-color: $eg-dark;
  color: white;
  padding: 0.3em 0.5em;
}

/* hidden rules */
.eg-border {
  background-color: $eg-muted;
  padding: 1em;
  margin-top: 1em;
}
/* end hidden rules */

/* example start */
.eg-border {
  &.m-1 {
    @include scut-border(5px solid, y n);
  }
  &.m-2 {
    @include scut-border(0.5em solid $eg-light, n y);
  }
  &.m-3 {
    @include scut-border(10px solid $eg-dark, y y n n);
  }
  &.m-4 {
    @include scut-border(0.75em solid $eg-dark, n n y y);
    @include scut-border(0.75em solid $eg-light, y y n n);
  }
}
/* example end */

/* hidden rules */
.eg-center-absolutely-container {
  border: 5px solid $eg-dark;
  height: 6em;
  &:not(:first-child) {
    margin-top: 1em;
  }
}
.eg-center-absolutely {
  font-size: 0.8em;
  padding: 0.5em;
}
/* end hidden rules */

/* example start */
.eg-center-absolutely-container {
  position: relative;
}
.eg-center-absolutely {
  background: $eg-muted;
  &.m-1 {
    @include scut-center-absolutely(22em 2.5em);
  }
  &.m-2 {
    @include scut-center-absolutely(20em n);
  }
  &.m-3 {
    @include scut-center-absolutely(n 2.5em);
  }
}
/* example end */

/* hidden rules */
.eg-center-block {
  background: $eg-muted;
  padding: 1em;
}
/* end hidden rules */

/* example start */
.eg-center-block {
  &.m-1 {
    width: 8em;
    @include scut-center-block;
    // or @extend %scut-center-block;
  }
  &.m-2 {
    margin-top: 2em;
    @include scut-center-block(80%);
  }
}
/* example end */

/* hidden rules */
.eg-center-transform-container {
  background: $eg-dark;
  height: 6em;
  &:not(:first-child) {
    margin-top: 1em;
  }
  &.m-large {
    height: 10em;
  }
}
.eg-center-transform {
  background: $eg-muted;
  padding: 1em;
}
/* end hidden rules */

/* example start */
.eg-center-transform-container {
  position: relative;
}
.eg-center-transform {
  display: inline-block;
  &.m-1 {
    @include scut-center-transform;
    // or @extend %scut-center-transform;
  }
  &.m-2 {
    @include scut-center-transform(x);
    // or @extend %scut-center-transform-x;
  }
  &.m-3 {
    @include scut-center-transform(y);
    // or @extend %scut-center-transform-y;
  }
  &.m-4 {
    @include scut-center-transform;
  }
}
/* example end */

/* hidden rules */
.eg-circle {
  margin-right: 0.5em;
}
/* end hidden rules */

/* example start */
.eg-circle {
  &.m-1 {
    @include scut-circle(1em);
  }
  &.m-2 {
    @include scut-circle(2em, $eg-light);
  }
  &.m-3 {
    @include scut-circle(2em, $eg-dark);
    border: 5px solid $eg-light;
  }
}
/* example end */

/* hidden rules */
.eg-clearfix-floater {
  @extend %eg-dark-btn;
}
/* end hidden rules */

/* example start */
.eg-clearfix-container {
  @include scut-clearfix;
  // or @extend %scut-clearfix;
  background: $eg-muted;
}
.eg-clearfix-floater {
  float: left;
  margin: 1em;
}
/* example end */

/* hidden rules */
.eg-color-swap {
  @extend %eg-light-btn;
}
/* end hidden rules */

/* example start */
.eg-color-swap {
  &.m-1 {
    @include scut-color-swap($eg-dark, $eg-light, 1s);
  }
  &.m-2 {
    @include scut-color-swap($eg-light $eg-dark, $eg-dark $eg-light);
  }
  &.m-3 {
    color: white;
    @include scut-color-swap($eg-dark, $eg-light, 0.5s, true);
  }
}
/* example end */

/* hidden rules */
.eg-fill-container {
  border: 5px solid $eg-dark;
  height: 6em;
  padding: 1em;
  &:nth-of-type(2) {
    margin-bottom: 2em;
  }
}
.eg-fill {
  &.m-1 {
    padding: 2.5em 1em 0;
  }
}
/* end hidden rules */

/* example start */
.eg-fill-container {
  color: $eg-light;
  position: relative;
}
.eg-fill {
  &.m-1 {
    background-color: rgba(0,0,0,0.4);
    @include scut-fill;
    // or @extend %scut-fill;
  }
  &.m-2 {
    @include scut-fill;
  }
  &.m-3 {
    @include scut-fill(true);
  }
}
/* example end */

/* hidden rules */
.example--disp--inner .eg-fonticon-label {
  @extend %eg-dark-btn;
}
/* end hidden rules */

/* example start */
@include scut-font-face("icomoon-stereo", fonts/icomoon-stereo);

.eg-fonticon-label {
  &.m-1 {
    @include scut-fonticon-label("icomoon-stereo", "\e004");
    &:hover:before,
    &:focus:before {
      content: "\e002"
    }
  }
  &.m-2 {
    @include scut-fonticon-label("icomoon-stereo", "\e003") {
      font-size: 2em;
    }
    &:hover,
    &:focus {
      color: $eg-light;
    }
  }
  &.m-3 {
    @include scut-fonticon-label("icomoon-stereo", "\e001", 1.5em, after) {
      color: $eg-light;
    }
    &:hover,
    &:focus {
      color: $eg-light;
      &:after {
        color: white;
      }
    }
  }
}

@keyframes rewind {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1em); }
}

.eg-fonticon-label.m-4 {
  font-size: 2em;
  padding-left: 2em;
  @include scut-fonticon-label("icomoon-stereo", "\e000") {
    font-size: 2em;
  }
  &:hover:before,
  &:focus:before {
    animation: rewind 1s linear infinite;
  }
}
/* example end */

/* hidden rules */
.eg-hd-bp {
  padding: 1em;
}
/* end hidden rules */

/* example start */
.eg-hd-bp {
  background-color: $eg-muted;
  @include scut-hd-bp(2.0) {
    background-color: $eg-light;
  }
}
/* example end */

/* example start */
.eg-hide-visually {
  @include scut-hide-visually;
  // or @extend %scut-hide-visually;
}
/* example end */

/* hidden start */
.eg-image-replace {
  margin-top: 1em;
}
/* hidden end */

/* example start */
.eg-image-replace {
  @include scut-image-replace;
  // or @extend %scut-image-replace;
  background: url("//placehold.it/200x200") no-repeat;
  background-size: contain;
  height: 8em;
}
/* example end */

/* hidden rules */
/* end hidden rules */

/* example start */
.eg-rem-fallback {
  &.m-1 { font-size: 20px; }
  &.m-2 { @include scut-rem-fallback(20); }
  &.m-3 {
    @include scut-rem-fallback(30 50px 0 25px, margin);
    @include scut-rem-fallback(20 30px, padding);
    border: 5px solid;
  }
}
/* example end */

/* hidden rules */
.eg-selected {
  @extend %eg-light-btn;
}
/* end hidden rules */

/* example start */
.eg-selected {
  background-color: $eg-muted;
  &.m-1 {
    @include scut-selected {
      background-color: $eg-light;
    }
  }
  &.m-2 {
    @include scut-selected(true) {
      background-color: $eg-light;
    }
  }
}
/* example end */

/* hidden rules */
.eg-triangle {
  margin-right: 1em;
}
.eg-triangle-button {
  @extend %eg-light-btn;
}
/* end hidden rules */

/* example start */
.eg-triangle {
  &.m-default {
    @include scut-triangle;
    // or @extend %scut-triangle;
  }
  &.m-equilateral {
    @include scut-triangle(up, 100px 87px, $eg-muted);
  }
  &.m-top-right {
    @include scut-triangle(top-right, 2em, $eg-dark);
  }
  &.m-bottom-left {
    @include scut-triangle(bottom-left, 80px 40px, $eg-light);
  }
}
.eg-triangle-button {
  &:after {
    content: "";
    margin-left: 0.3em;
  }
  &.m-down:after {
    @include scut-triangle(down);
  }
  &.m-up:after {
    @include scut-triangle(up);
  }
  &.m-more:after {
    @include scut-triangle;
  }
}
/* example end */