<aside id="help-content" class="help-content-c">
  {{#each help}}
  <section id="help-{{term}}" class="help-content js-help-modal">
    <div class="scut-inner">
      {{#markdown}}{{{text}}}{{/markdown}}
      <button class="js-help-btn help-close" data-dir="close" data-term="{{term}}}">close</button>
    </div>
  </section>
  {{/each}}
</aside>