/*==========================
DO NOT ALTER THIS DOCUMENT!

It is a concatenation of the SCSS files inside `tests/style/scss/tests`. CREATE TEST STYLESHEETS IN `TESTS/STYLE/SCSS/TESTS`, NOT HERE. If you put them here, they will be overwritten when somebody does things the right way and grunt concatenates once again. (See the `concat` task in the Gruntfile to fully understand.)
==========================*/

.vcenter-abs-c {
  border: 5px solid;
  @include scut-size(20em);
  position: relative;
}

.vcenter-abs {
  @include scut-center-absolutely(7em 30px);
  background: gray;
}

.color-swap {
  display: inline-block;
  padding: 1em 2em;
  border: 2px solid;
  margin: 0 2em 2em 0;

  &.m-1 {
    @include scut-color-swap(blue, red, 1s);
    font-size: 2em;
    font-weight: bold;
  }

  &.m-2 {
    @include scut-color-swap(red blue, black yellow, 0.5s);
  }

  &.m-3 {
    @include scut-color-swap(blue, red, 0.3s, true);
    color: white;
  }

  &.m-4 {
    @include scut-color-swap(blue, black, false, true);
  }

}

.hanging-indent {
  margin: 1em 0;
  p {
    width: 10em;
  }

  &.m-1 {
    p {
      @extend %scut-hanging-indent;
    }
  }

  &.m-2 {
    p {
      @include scut-hanging-indent(2em);
    }
  }

}

.header-lined {
  background: #eee;
  margin-bottom: 1em;

  &.m-1 {
    @extend %scut-header-lined;
    font-size: 3em;
  }

  &.m-2 {
    @include scut-header-lined(5px, 20px, blue, double, 2px);
    font-size: 2em;
    width: 20em;
  }

  &.m-3 {
    @include scut-header-lined(4px, 30px, $color: blue, $style: double, $double: 10px, $v-adjust: 3px);
    font-size: 2em;
    line-height: 2;
    width: 10em;
  }

}

.key-val {
  width: 400px;

  &.m-1 {
    @include scut-key-val;
  }

  &.m-2 {
    @include scut-key-val("\2014", 1em, 2em, 1em, 1em);
  }

  &.m-3 {
    @include scut-key-val($indent: 4em, $spacing: 0.3em);
    dt {
      font-weight: bold;
    }
  }

}

.list-divided {

  &.v-1 {
    @extend %scut-list-bar;
  }

  &.v-2 {
    @include scut-list-divided("+", 2em, right);
  }

  &.v-3 {
    @include scut-list-divided("//", 10px, right);
  }

}

.list-floated {

  &.v-1 {
    @include scut-list-floated(1em);
  }

  &.v-2 {
    @include scut-list-floated(30px);
  }

  &.v-3 {
    @include scut-list-floated(10px, right);
  }

}

.list-punctuated {

  &.v-1 {
    @extend %scut-list-comma;
  }

}

.opacity-container {
  @include scut-size(10em);
  border: 5px solid;
  position: relative;
}

.opacity-el {
  @extend %scut-fill;
  background: black;
  @include scut-opacity(0.5);
}

.pixels-ems {
  background: gray;
  margin-bottom: 1em;

  &.m-1 {
    width: scut-em(300);
  }
  &.m-2 {
    width: 300px;
  }

  &.m-3,
  &.m-4 {
    font-size: 20px;
  }
  &.m-3 {
    width: scut-em(400, 20px);
  }
  &.m-4 {
    width: 400px;
  }

  &.m-5,
  &.m-6 {
    font-size: 2em;
  }
  &.m-5 {
    width: scut-em(500, 2em);
  }
  &.m-6 {
    width: 500px;
  }

}

@include scut-sticky-footer(15em);

.scut-sticky {
  background: black;
  color: white;
}

.css-char {

margin-bottom: 1em;

&:after {
  display: inline-block;
  margin-left: 1em;
}

// insert list here, then
// replace ^(\$scut-)(.*?)(:.*;)$
// with &.m-$2:after { content: $scut-$2; }

&.m-amp:after { content: $scut-amp; }
&.m-gt:after { content: $scut-gt; }
&.m-lt:after { content: $scut-lt; }
&.m-nbsp:after { content: $scut-nbsp; }
&.m-quot:after { content: $scut-quot; }
&.m-sect:after { content: $scut-sect; }
&.m-laquo:after { content: $scut-laquo; }
&.m-raquo:after { content: $scut-raquo; }
&.m-para:after { content: $scut-para; }
&.m-middot:after { content: $scut-middot; }
&.m-oslash:after { content: $scut-oslash; }
&.m-mdash:after { content: $scut-mdash; }
&.m-ndash:after { content: $scut-ndash; }
&.m-lsquo:after { content: $scut-lsquo; }
&.m-rsquo:after { content: $scut-rsquo; }
&.m-lsaquo:after { content: $scut-lsaquo; }
&.m-rsaquo:after { content: $scut-rsaquo; }
&.m-ldquo:after { content: $scut-ldquo; }
&.m-rdquo:after { content: $scut-rdquo; }
&.m-bull:after { content: $scut-bull; }
&.m-hellip:after { content: $scut-hellip; }

}