/*==========================
PIXELS TO EMS

Depends on the function `scut-strip-unit`.
==========================*/

@function scut-em (
  $pixels,
  $base: 16
) {

  $multiplier: if(unit($base) == em, 16, 1);
  $divisor: scut-strip-unit($base) * $multiplier;

  @return ($pixels / $divisor) * 1em;

}