/*==========================
PIXELS TO EMS

Depends on the function `scut-strip-unit`.
==========================*/

@function scut-em (
  $pixels,
  $base: 16
) {

  $divisor: null;

  @if unit($base) == em {
    $divisor: scut-strip-unit($base) * 16;
  } @else {
    $divisor: scut-strip-unit($base);
  }

  @return ($pixels / $divisor) * 1em;

}