/*==========================
CIRCLE
http://davidtheclark.github.io/scut/#circle
==========================*/

@mixin scut-circle (
  $size,
  $color: inherit
) {

  border-radius: 50%;
  display: inline-block;

  @if $color == inherit {
    border-width: $size / 2;
    border-style: solid;
    height: 0;
    width: 0;
  }
  @else {
    background-color: $color;
    height: $size;
    width: $size;
  }

}