/*==========================
SCUT FOURSQUARE
http://davidtheclark.github.io/scut/#foursquare
==========================*/

@mixin scut-foursquare (
  $side: 10px,
  $color: black,
  $line-width: 1px,
  $line-color: white
) {

  $full-side: $side + $line-width;

  background-color: $color;
  display: inline-block;
  height: $full-side;
  width: $full-side;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: $line-color;
    border-style: solid;
  }
  &:before {
    height: ($side / 2) + $line-width;
    right: 0;
    border-width: 0 0 $line-width;
  }
  &:after {
    width: ($side / 2) + $line-width;
    bottom: 0;
    border-width: 0 $line-width 0 0;
  }

}

%scut-foursquare {
  @include scut-foursquare;
}