/*==========================
SCUT TRIANGLE
http://davidtheclark.github.io/scut/#triangle
==========================*/

@mixin scut-triangle (
  $direction: right,
  $size: 1.4em 0.75em,
  $color: inherit,
  $pseudo: false
) {

  display: inline-block;
  height: 0;
  width: 0;
  // for improved appearance in Webkit browsers
  -webkit-transform: rotate(360deg);

  @if $pseudo {
    content: "";
  }

  $dimensions: null;
  @if type-of($size) == list {
    $width: nth($size, 1);
    $height: nth($size, 2);
    $dimensions: ($height / 2) ($width / 2);
  }
  @else {
    $dimensions: ($size / 2) ($size / 2);
  }
  border-width: $dimensions;
  border-style: solid;


  // STANDARD TRIANGLES

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
    border-color: transparent;
    @if $direction == up {
      border-bottom-color: $color;
      border-top-width: 0;
    }
    @else if $direction == right {
      border-left-color: $color;
      border-right-width: 0;
    }
    @else if $direction == down {
      border-top-color: $color;
      border-bottom-width: 0;
    }
    @else if $direction == left {
      border-right-color: $color;
      border-left-width: 0;
    }
  }


  // CORNER TRIANGLES

  @else if ($direction == top-right) or ($direction == top-left) {
    border-top-color: $color;
    border-bottom-color: transparent;
    @if $direction == top-right {
      border-left-color: transparent;
      border-right-color: $color;
    }
    @else if $direction == top-left {
      border-left-color: $color;
      border-right-color: transparent;
    }
  }

  @else if ($direction == bottom-right) or ($direction == bottom-left) {
    border-top-color: transparent;
    border-bottom-color: $color;
    @if $direction == bottom-right {
      border-left-color: transparent;
      border-right-color: $color;
    }
    @else if $direction == bottom-left {
      border-left-color: $color;
      border-right-color: transparent;
    }
  }

}

%scut-triangle {
  @include scut-triangle;
}