---
title: Bookends
---

<p class="eg-bookends v-1">Variation 1</p>
<p class="eg-bookends v-2">Variation 2</p>
<h2 class="eg-bookends v-3">Variation 3</h2>
<div class="eg-bookends v-4">Variation 4</div>
<div class="eg-bookends v-5">Variation 5</div>
<div class="eg-bookends v-6">Variation 6</div>