---
title: CSS Characters
---


{{!--
replace ^(\$)(.*?)(:.*;)$
with <div class="css-char m-$2">$1$2</div>
and
replace ^//(.*)$\n
with     [nothing]
--}}

<div class="css-char m-scut-quot">$scut-quot</div>
<div class="css-char m-scut-lsquo">$scut-lsquo</div>
<div class="css-char m-scut-rsquo">$scut-rsquo</div>
<div class="css-char m-scut-ldquo">$scut-ldquo</div>
<div class="css-char m-scut-rdquo">$scut-rdquo</div>
<div class="css-char m-scut-lsaquo">$scut-lsaquo</div>
<div class="css-char m-scut-rsaquo">$scut-rsaquo</div>
<div class="css-char m-scut-laquo">$scut-laquo</div>
<div class="css-char m-scut-raquo">$scut-raquo</div>

<div class="css-char m-scut-mdash">$scut-mdash</div>
<div class="css-char m-scut-ndash">$scut-ndash</div>

<div class="css-char m-scut-amp">$scut-amp</div>
<div class="css-char m-scut-gt">$scut-gt</div>
<div class="css-char m-scut-lt">$scut-lt</div>
<div class="css-char m-scut-nbsp">$scut-nbsp</div>

<div class="css-char m-scut-sect">$scut-sect</div>
<div class="css-char m-scut-para">$scut-para</div>

<div class="css-char m-scut-middot">$scut-middot</div>
<div class="css-char m-scut-oslash">$scut-oslash</div>
<div class="css-char m-scut-bull">$scut-bull</div>
<div class="css-char m-scut-whibull">$scut-whibull</div>
<div class="css-char m-scut-hellip">$scut-hellip</div>
<div class="css-char m-scut-vellip">$scut-vellip</div>
<div class="css-char m-scut-midhellip">$scut-midhellip</div>

<div class="css-char m-scut-utri">$scut-utri</div>
<div class="css-char m-scut-dtri">$scut-dtri</div>
<div class="css-char m-scut-ltri">$scut-ltri</div>
<div class="css-char m-scut-rtri">$scut-rtri</div>
<div class="css-char m-scut-ustri">$scut-ustri</div>
<div class="css-char m-scut-dstri">$scut-dstri</div>
<div class="css-char m-scut-lstri">$scut-lstri</div>
<div class="css-char m-scut-rstri">$scut-rstri</div>
<div class="css-char m-scut-diamond">$scut-diamond</div>
<div class="css-char m-scut-fisheye">$scut-fisheye</div>
<div class="css-char m-scut-bullseye">$scut-bullseye</div>
<div class="css-char m-scut-circle">$scut-circle</div>