---
title: Color Swap
---

<button class="color-swap m-1">Variation 1</button>
<button class="color-swap m-2">Variation 2</button>
<button class="color-swap m-3">Variation 3</button>
<button class="color-swap m-4">Variation 4</button>