---
title: Hanging Indent
---

<div class="hanging-indent m-1">
  <h2>Variation 1</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>

<div class="hanging-indent m-2">
  <h2>Variation 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>