---
title: Test Index
index: true
---


<h1>The Scut Test Index</h1>
<ul class="pages">
  {{#each pages}}
  {{#unless data.index}}
  <li>
    <a href="{{this.basename}}.html" class="pages-i">
      {{data.title}}
    </a>
  </li>
  {{/unless}}
  {{/each}}
</ul>
