---
title: Margin
---

<div class="margin-container">
  <div class="margin m-1">Variation 1</div>
</div>
<div class="margin-container">
  <div class="margin m-2">Variation 2</div>
</div>
<div class="margin-container">
  <div class="margin m-3">Variation 3</div>
</div>
<div class="margin-container">
  <div class="margin m-4">Variation 4</div>
</div>
<div class="margin-container">
  <div class="margin m-5">Variation 5</div>
</div>