---
title: Pixels to Ems
---

<div class="pixels-ems m-1">
  300px wide, in ems
</div>

<div class="pixels-ems m-2">
  300px wide, in pixels
</div>

<div class="pixels-ems m-3">
  400px wide, in ems, with different base size in px
</div>

<div class="pixels-ems m-4">
  400px wide, in pixels, with different base size in px
</div>

<div class="pixels-ems m-5">
  500px wide, in ems, with different base size in ems
</div>

<div class="pixels-ems m-6">
  500px wide, in pixels, with different base size in ems
</div>