/*==========================
COLOR SWAP


==========================*/

@mixin scut-color-swap (
  $inactive,
  $active,
  $duration: 0,
  $bg: false
) {

  $transition-properties: null;
  $inactive-is-list: type-of($inactive) == list;

  @if $inactive-is-list {
    color: nth($inactive, 1);
    background-color: nth($inactive, 2);
    $transition-properties: background-color, color;
  }

  @else if $bg and not $inactive-is-list {
    background-color: $inactive;
    $transition-properties: background-color;
  }

  @else {
    color: $inactive;
    $transition-properties: color;
  }

  @if $duration != 0 {
    transition-property: $transition-properties;
    transition-duration: $duration;
  }

  &:hover,
  &:focus,
  &:active {

   $active-is-list: type-of($active) == list;

    @if $active-is-list {
      color: nth($active, 1);
      background-color: nth($active, 2);
    }

    @else if $bg and not $active-is-list {
      background-color: $active;
    }

    @else {
      color: $active;
    }
  }

}