/*==========================
OPACITY
http://davidtheclark.github.io/scut/#opacity
==========================*/

@mixin scut-opacity (
  $opacity
) {

  $ms-value: $opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ms-value})";
  opacity: $opacity;

}
