/*==========================
OPACITY

http://css-tricks.com/snippets/css/cross-browser-opacity/
==========================*/

@mixin scut-opacity (
  $decimal
) {

  $ms-value: $decimal * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ms-value})";
  opacity: $decimal;

}
