@mixin scut-reset-border-box {
  // Make everything a border-box, because why not?
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

@mixin scut-reset-antialias {
  // Antialias!
  body {
    -webkit-font-smoothing: antialiased;
  }
  *, *:before, *:after {
    -webkit-font-smoothing: inherit;
  }
}

@mixin scut-reset-semanticize {
  // Make headers and <b> semantic, not presentational.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
  b {
    font-weight: normal;
  }
}

@mixin scut-reset-pointer {
  // Clickable form elements should have a pointer.
  label,
  select,
  option,
  button {
    cursor: pointer;
  }
}

@mixin scut-reset-form {
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  textarea {
    resize: vertical;
  }
}

@mixin scut-reset-button {
  // Reset default button styles, which are never used.
  button,
  [type="button"],
  [type="submit"],
  [type="reset"] {
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}

@mixin scut-reset-paragraph {
  // Some paragraph margins just get in the way.
  p:first-of-type {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

@mixin scut-reset-media {
  // You want these elements fluid, probably.
  img,
  video {
    max-width: 100%;
    height: auto;
  }
}

@mixin scut-reset-figure {
  // Remove default margins.
  figure {
    margin: 0;
  }
}

// Call them all, minus exclusions!
@mixin scut-reset ($exclude: false) {
  @if not(index($exclude, border-box)) {
    @include scut-reset-border-box;
  }
  @if not(index($exclude, antialias)) {
    @include scut-reset-antialias;
  }
  @if not(index($exclude, semanticize)) {
    @include scut-reset-semanticize;
  }
  @if not(index($exclude, pointer)) {
    @include scut-reset-pointer;
  }
  @if not(index($exclude, form)) {
    @include scut-reset-form;
  }
  @if not(index($exclude, button)) {
    @include scut-reset-button;
  }
  @if not(index($exclude, paragraph)) {
    @include scut-reset-paragraph;
  }
  @if not(index($exclude, media)) {
    @include scut-reset-media;
  }
  @if not(index($exclude, figure)) {
    @include scut-reset-figure;
  }
}
