.eg-bookends.m-1:before {
  margin-right: 0.5em;
}
.eg-bookends.m-1:after {
  margin-left: 0.5em;
}
.eg-bookends.m-1:before, .eg-bookends.m-1:after {
  display: inline-block;
  content: "\2014";
}
.eg-bookends.m-2:before {
  content: "\201c";
  margin-right: 0;
}
.eg-bookends.m-2:after {
  content: "\201d";
  margin-left: 0;
}
.eg-bookends.m-2:before, .eg-bookends.m-2:after {
  display: inline-block;
}
.eg-bookends.m-3 {
  font-size: 2em;
}
.eg-bookends.m-3:before {
  content: "\00ab";
  margin-right: 0.25em;
}
.eg-bookends.m-3:after {
  content: "\00bb";
  margin-left: 0.25em;
}
.eg-bookends.m-3:before, .eg-bookends.m-3:after {
  display: inline-block;
  color: #9ae9ff;
}
.eg-bookends.m-3:hover, .eg-bookends.m-3:focus {
  color: #9ae9ff;
}
.eg-bookends.m-3:hover:before, .eg-bookends.m-3:hover:after, .eg-bookends.m-3:focus:before, .eg-bookends.m-3:focus:after {
  display: inline-block;
  color: #002834;
}
.eg-bookends.m-4 {
  background-color: #002834;
  color: white;
  text-align: center;
}
.eg-bookends.m-4:before {
  margin-right: 0.5em;
}
.eg-bookends.m-4:after {
  margin-left: 0.5em;
}
.eg-bookends.m-4:before, .eg-bookends.m-4:after {
  display: inline-block;
  content: "";
  height: 2em;
  width: 2em;
  background-color: #9ae9ff;
  vertical-align: middle;
}