.eg-center-transform-container {
  position: relative;
}

.eg-center-transform {
  display: inline-block;
}
.eg-center-transform.m-1 {
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.eg-center-transform.m-2 {
  position: absolute;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.eg-center-transform.m-3 {
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.eg-center-transform.m-4 {
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}