.eg-color-swap.m-1 {
  color: #002834;
  transition-property: color;
  transition-duration: 1s;
}
.eg-color-swap.m-1:hover, .eg-color-swap.m-1:focus {
  color: #9ae9ff;
}
.eg-color-swap.m-2 {
  color: #9ae9ff;
  background-color: #002834;
}
.eg-color-swap.m-2:hover, .eg-color-swap.m-2:focus {
  color: #002834;
  background-color: #9ae9ff;
}
.eg-color-swap.m-3 {
  color: white;
  background-color: #002834;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.eg-color-swap.m-3:hover, .eg-color-swap.m-3:focus {
  background-color: #9ae9ff;
}