.eg-em-1 {
  width: 9.375em;
}

.eg-em-2 {
  width: 150px;
}

.eg-em-3,
.eg-em-4 {
  font-size: 20px;
}

.eg-em-3 {
  width: 12.5em;
}

.eg-em-4 {
  width: 250px;
}

.eg-em-5,
.eg-em-6 {
  font-size: 0.6em;
}

.eg-em-5 {
  width: 28.64583em;
}

.eg-em-6 {
  width: 275px;
}

.eg-em-7 {
  margin: 3.125em 1.875em 0em 3.75em;
  padding: 3.125em 1.25em 0em;
}

.eg-em-8 {
  font-size: 20px;
  width: 12.5em;
}
