.eg-fill-container {
  color: #9ae9ff;
  position: relative;
}

.eg-fill.m-1 {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.eg-fill.m-2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.eg-fill.m-3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}