.eg-key-val {
  max-width: 20em;
}
.eg-key-val.m-1 > dt {
  clear: both;
  float: left;
}
.eg-key-val.m-1 > dt:after {
  content: ":";
  margin-right: 0.25em;
}
.eg-key-val.m-1 > dd {
  margin-left: 1em;
}
.eg-key-val.m-2 > dt {
  clear: both;
  float: left;
}
.eg-key-val.m-2 > dt:after {
  content: "\2014";
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.eg-key-val.m-2 > dd {
  margin-left: 8em;
  margin-bottom: 1em;
}
.eg-key-val.m-2 > dt {
  font-weight: bold;
}
.eg-key-val.m-3 > dt {
  clear: both;
  float: left;
}
.eg-key-val.m-3 > dt:after {
  content: "";
  margin-right: 0;
}
.eg-key-val.m-3 > dd {
  margin-left: 7em;
}
.eg-key-val.m-3 > dt {
  width: 6em;
  text-align: right;
  text-transform: uppercase;
}