.eg-list-floated.m-1 {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.eg-list-floated.m-1:after {
  content: "";
  display: table;
  clear: both;
}
.eg-list-floated.m-1 > li {
  float: left;
}
.eg-list-floated.m-2 {
  list-style-type: none;
  padding-left: 0;
}
.eg-list-floated.m-2:after {
  content: "";
  display: table;
  clear: both;
}
.eg-list-floated.m-2 > li {
  float: left;
}
.eg-list-floated.m-2 > li + li {
  margin-left: 1em;
}
.eg-list-floated.m-3 {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.eg-list-floated.m-3:after {
  content: "";
  display: table;
  clear: both;
}
.eg-list-floated.m-3 > li {
  float: right;
}
.eg-list-floated.m-3 > li + li {
  margin-right: 2em;
}