.eg-margin-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.eg-margin-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
}

.eg-margin-3 {
  margin-top: 3em;
  margin-right: 1em;
  margin-left: 1em;
}
