.eg-padding {
  display: inline-block;
}
.eg-padding-1 {
  @include scut-padding(1em n);
}
.eg-padding-2 {
  @include scut-padding(0.5em 3em);
}
.eg-padding-3 {
  @include scut-padding(n 8em 3em n);
}