.eg-reverse-italics-default {
  font-style: italic;
}
.eg-reverse-italics-default em, .eg-reverse-italics-default cite, .eg-reverse-italics-default i, .eg-reverse-italics-default false {
  font-style: normal;
}

.eg-reverse-italics-variant {
  font-style: italic;
}
.eg-reverse-italics-variant em, .eg-reverse-italics-variant cite, .eg-reverse-italics-variant i, .eg-reverse-italics-variant strong, .eg-reverse-italics-variant b, .eg-reverse-italics-variant .no-italics {
  font-style: normal;
}
