.eg-selected {
  background-color: #cccccc;
}
.eg-selected.m-1:hover, .eg-selected.m-1:focus {
  background-color: #9ae9ff;
}
.eg-selected.m-2:hover, .eg-selected.m-2:focus, .eg-selected.m-2:active {
  background-color: #9ae9ff;
}