.eg-side-lined-1 {
  display: block;
  overflow: hidden;
  text-align: center;
}
.eg-side-lined-1:before, .eg-side-lined-1:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
}
.eg-side-lined-1:before {
  right: 0.5em;
  margin-left: -50%;
}
.eg-side-lined-1:after {
  left: 0.5em;
  margin-right: -50%;
}

.eg-side-lined-2 {
  font-size: 2em;
  display: block;
  overflow: hidden;
  text-align: center;
}
.eg-side-lined-2:before, .eg-side-lined-2:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 0.3em;
  border-top-color: #9ae9ff;
  bottom: 0.1em;
}
.eg-side-lined-2:before {
  right: 1em;
  margin-left: -50%;
}
.eg-side-lined-2:after {
  left: 1em;
  margin-right: -50%;
}

.eg-side-lined-3 {
  display: block;
  overflow: hidden;
  text-align: center;
}
.eg-side-lined-3:before, .eg-side-lined-3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cccccc;
  bottom: 0.05em;
  height: 0.3em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
}
.eg-side-lined-3:before {
  right: 0.5em;
  margin-left: -50%;
}
.eg-side-lined-3:after {
  left: 0.5em;
  margin-right: -50%;
}

.eg-side-lined-4 {
  display: block;
  overflow: hidden;
  text-align: center;
}
.eg-side-lined-4:before, .eg-side-lined-4:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  border-top-style: dotted;
  border-top-width: 1px;
}
.eg-side-lined-4:before {
  right: 0.5em;
  margin-left: -50%;
}
.eg-side-lined-4:after {
  left: 0.5em;
  margin-right: -50%;
}
