.eg-triangle-default {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.375em 0.75em;
  border-style: solid;
  border-color: transparent;
  border-left-color: inherit;
  border-right-width: 0;
}

.eg-triangle-equilateral {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 87px 50px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #cccccc;
  border-top-width: 0;
}

.eg-triangle-top-right {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 1em 1em;
  border-style: solid;
  border-top-color: #002834;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #002834;
}

.eg-triangle-bottom-left {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 20px 40px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: #9ae9ff;
  border-left-color: #9ae9ff;
  border-right-color: transparent;
}

.eg-triangle-button:after {
  content: "";
  margin-left: 0.3em;
}
.eg-triangle-button.m-down:after {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.75em 0.375em;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  border-bottom-width: 0;
}
.eg-triangle-button.m-up:after {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.75em 0.375em;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: inherit;
  border-top-width: 0;
}
.eg-triangle-button.m-right:after {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.375em 0.75em;
  border-style: solid;
  border-color: transparent;
  border-left-color: inherit;
  border-right-width: 0;
}
