.eg-vcenter-ib > p {
  max-width: 90%;
}

.eg-vcenter-ib-1:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
}
.eg-vcenter-ib-1 > .scut-inner {
  display: inline-block;
  vertical-align: middle;
}

.eg-vcenter-ib-2:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
}
.eg-vcenter-ib-2 > .eg-vcenter-ib-inner {
  display: inline-block;
  vertical-align: middle;
}
