.eg-vcenter-td-1 {
  display: table;
  height: 8em;
}
.eg-vcenter-td-1 > .scut-inner {
  display: table-cell;
  vertical-align: middle;
}

.eg-vcenter-td-2 {
  display: table;
  height: 12em;
}
.eg-vcenter-td-2 > .eg-vcenter-td-inner {
  display: table-cell;
  vertical-align: middle;
}
