@mixin scut-fill (
  $width-height: false
) {

  position: absolute;
  left: 0;
  top: 0;
  @if $width-height {
    width: 100%;
    height: 100%;
  }
  @else {
    right: 0;
    bottom: 0;
  }

}

%scut-fill {
  @include scut-fill;
}