/*==========================
SCUT FONTICON-LABEL
http://davidtheclark.github.io/scut/#fonticon_label
==========================*/

@mixin scut-fonticon-label (
  $font,
  $glyph,
  $pad: 0.25em,
  $side: before
) {

  &:#{$side} {
    content: $glyph;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;

    @if $side == before and $pad != 0 {
      margin-right: $pad;
    }
    @else if $side == after and $pad != 0 {
      margin-left: $pad;
    }

    // Add any additional styling.
    @content;

  }

}
