/*==========================
LIST: INLINE
http://davidtheclark.github.io/scut/#list_inline

Depends on _list-unstyled.scss
==========================*/

@mixin scut-list-inline (
  $in-media: true
) {

  @if $in-media {
    @include scut-list-unstyled;
  }
  @else {
    @extend %scut-list-unstyled;
  }

  & > li {
    display: inline-block;
  }

}

%scut-list-inline {
  @include scut-list-inline(false);
}