// Depends on `list-unstyled`.

@mixin scut-list-inline (
  $space: false,
  $no-margin: true
) {

  @include scut-list-unstyled($no-margin);

  & > li {
    display: inline-block;
  }

  @if $space {
    & > li + li {
      margin-left: $space;
    }
  }

}

%scut-list-inline {
  @include scut-list-inline;
}