/*==========================
SCUT LIST: FLOATED
http://davidtheclark.github.io/scut/#list_floated

Depends on `list-unstyled` and `clearfix`.
==========================*/

@mixin scut-list-floated (
  $margin: false,
  $dir: left
) {

  @include scut-list-unstyled;
  @include scut-clearfix;

  & > li {
    float: $dir;
  }

  @if $margin {
    & > li + li {
      margin-#{$dir}: $margin;
    }
  }

}

%scut-list-floated {
  @include scut-list-floated;
}
