/*==========================
LIST: FLOATED
http://davidtheclark.github.io/scut/#list_floated

Depends on `list-unstyled` and `clearfix`.
==========================*/

@mixin scut-list-floated (
  $margin: false,
  $dir: left,
  $in-media: true
) {

  @if $in-media {
    @include scut-list-unstyled;
    @include scut-clearfix;
  }
  @else {
    @extend %scut-list-unstyled;
    @extend %scut-clearfix;
  }

  & > li {
    float: $dir;
  }

  @if $margin {
    & > li + li {
      margin-#{$dir}: $margin;
    }
  }

}

%scut-list-floated {
  @include scut-list-floated($in-media: false);
}
