/*==========================
SCUT LIST: DIVIDED
http://davidtheclark.github.io/scut/#list_divided

Depends on `list-floated`, which depends in turn on `list-unstyled` and `clearfix`.
==========================*/

@mixin scut-list-divided (
  $divider: "|",
  $gap: 0.5em,
  $dir: left
) {

  @include scut-list-floated($dir: $dir);

  $psuedo: if($dir == left, 'before', 'after');

  & > li + li:#{$psuedo} {
    content: $divider;
    margin-left: $gap;
    margin-right: $gap;
  }

}

%scut-list-bar {
  @include scut-list-divided;
}

%scut-list-breadcrumb {
  @include scut-list-divided("/");
}