/*==========================
LIST: INLINE
http://davidtheclark.github.io/scut/#list_inline

Depends on `list-unstyled`.
==========================*/

@mixin scut-list-inline (
  $margin: false
) {

  @include scut-list-unstyled;

  & > li {
    display: inline-block;
  }

  @if $margin {
    & > li + li {
      margin-left: $margin;
    }
  }

}

%scut-list-inline {
  @include scut-list-inline;
}