/*==========================
POSITIONING: RELATIVE
http://davidtheclark.github.io/scut/#positioning_relative

Depends on _positioning-coordinates.scss
==========================*/

@mixin scut-relative (
  $coordinates: n n n n
) {

  position: relative;
  @include scut-coords($coordinates);

}