/*==========================
SCUT RATIO-BOX
http://davidtheclark.github.io/scut/#ratio-box
==========================*/

@mixin scut-ratio-box (
  $ratio: 1/1,
  $inner: ".scut-inner"
) {

  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    height: 0;
    padding-top: (1 / $ratio) * 100%;
  }

  & > #{$inner} {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

}

%scut-ratio-box {
  @include scut-ratio-box;
}