// SCUT STICKY FOOTER
// http://davidtheclark.github.io/scut/#sticky_footer

@mixin scut-sticky-footer (
  $height,
  $wrapper: ".wrapper",
  $footer: ".scut-sticky"
) {

  html,
  body {
    height: 100%;
  }

  #{$wrapper} {
    min-height: 100%;
    margin-bottom: -$height;
    &:after {
      content: "";
      display: block;
    }
  }
  #{$wrapper}:after,
  #{$footer} {
    height: $height;
  }

}