/*==========================
SCUT V-CENTER: INLINE-BLOCK
http://davidtheclark.github.io/scut/#v-center_inline-block
==========================*/

@mixin scut-vcenter-ib (
  $inner: ".scut-inner"
) {

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  & > #{$inner} {
    display: inline-block;
    vertical-align: middle;
  }

}

%scut-vcenter-ib {
  @include scut-vcenter-ib;
}
