@mixin scut-vcenter-ib (
  $inner...
) {

  // The inner element is vertically centered
  // by middle-aligning it with an inline pseudo-element
  // whose height is 100%.

  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    // A small negative right margin is set
    // to account for the default
    // word-spacing of inline-block.
    margin-right: -0.25em;
  }

  $inner: if(length($inner) == 0, ".scut-inner", $inner);
  @each $cell-selector in $inner {
    $cell-selector: unquote($cell-selector);
    & > #{$cell-selector} {
      display: inline-block;
      vertical-align: middle;
    }
  }

}

%scut-vcenter-ib {
  @include scut-vcenter-ib;
}
