// VERTICAL CENTERING VIA LINE HEIGHT

@mixin scut-vcenter-lh (
  $height
) {

  height: $height;
  line-height: $height;

}


// VERTICAL CENTERING VIA INLINE BLOCK

@mixin scut-vcenter-ib (
  $inner: ".scut-inner"
) {

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  & > #{$inner} {
    display: inline-block;
    vertical-align: middle;
  }

}

%scut-vcenter-ib {
  @include scut-vcenter-ib;
}


// VERTICAL CENTERING VIA DISPLAY: TABLE

@mixin scut-vcenter-td (
  $inner: ".scut-inner"
) {

  display: table;

  & > #{$inner} {
    display: table-cell;
    vertical-align: middle;
  }

}


%scut-vcenter-td {
  @include scut-vcenter-td;
}